In [3]:
import pandas as pd
import os

In [5]:
os.chdir("C:\\Users\\wb5888\\Documents")

In [8]:
nheco_tags = pd.read_csv('NHECO tags.csv', header = None)
nheco_tags.columns = ['meter', 'tag']
nheco_tags.head()

        meter   tag
0  5125107510  3.67
1  6007710200  0.23
2  5125109210  1.00
3  5125109300  0.23
4  5125109510  0.00

In [11]:
n = nheco_tags.shape[0]
fullname = ['_'.join(['NEPOOL_NHECO', str(m)]) for m in nheco_tags.meter]
nheco_tags['meter'] = fullname
nheco_tags.head()

                     meter   tag
0  NEPOOL_NHECO_5125107510  3.67
1  NEPOOL_NHECO_6007710200  0.23
2  NEPOOL_NHECO_5125109210  1.00
3  NEPOOL_NHECO_5125109300  0.23
4  NEPOOL_NHECO_5125109510  0.00

In [24]:
for i in range(0, n):
    sql_query = "".join(["Insert into LSPROCESS(PROCESSNAME, DESCRIPTION) VALUES ('", nheco_tags.meter[i], "', '", str(nheco_tags.tag[i]), "');"])
    print(sql_query)

Insert into LSPROCESS(PROCESSNAME, DESCRIPTION) VALUES ('NEPOOL_NHECO_5125107510', '3.67');
Insert into LSPROCESS(PROCESSNAME, DESCRIPTION) VALUES ('NEPOOL_NHECO_6007710200', '0.23');
Insert into LSPROCESS(PROCESSNAME, DESCRIPTION) VALUES ('NEPOOL_NHECO_5125109210', '1.0');
Insert into LSPROCESS(PROCESSNAME, DESCRIPTION) VALUES ('NEPOOL_NHECO_5125109300', '0.23');
Insert into LSPROCESS(PROCESSNAME, DESCRIPTION) VALUES ('NEPOOL_NHECO_5125109510', '0.0');
Insert into LSPROCESS(PROCESSNAME, DESCRIPTION) VALUES ('NEPOOL_NHECO_5125110014', '30.35');
Insert into LSPROCESS(PROCESSNAME, DESCRIPTION) VALUES ('NEPOOL_NHECO_5140104010', '1.64');
Insert into LSPROCESS(PROCESSNAME, DESCRIPTION) VALUES ('NEPOOL_NHECO_5145177310', '0.18');
Insert into LSPROCESS(PROCESSNAME, DESCRIPTION) VALUES ('NEPOOL_NHECO_5145179510', '4.14');
Insert into LSPROCESS(PROCESSNAME, DESCRIPTION) VALUES ('NEPOOL_NHECO_5145180510', '5.74');
Insert into LSPROCESS(PROCESSNAME, DESCRIPTION) VALUES ('NEPOOL_NHECO_5145181010', '0.0');
Insert into LSPROCESS(PROCESSNAME, DESCRIPTION) VALUES ('NEPOOL_NHECO_5145181100', '0.0');
Insert into LSPROCESS(PROCESSNAME, DESCRIPTION) VALUES ('NEPOOL_NHECO_5145182510', '23.95');
Insert into LSPROCESS(PROCESSNAME, DESCRIPTION) VALUES ('NEPOOL_NHECO_5171233310', '0.0');
Insert into LSPROCESS(PROCESSNAME, DESCRIPTION) VALUES ('NEPOOL_NHECO_5171233410', '0.0');
Insert into LSPROCESS(PROCESSNAME, DESCRIPTION) VALUES ('NEPOOL_NHECO_5221159011', '0.0');
Insert into LSPROCESS(PROCESSNAME, DESCRIPTION) VALUES ('NEPOOL_NHECO_5125109010', '3.09');
Insert into LSPROCESS(PROCESSNAME, DESCRIPTION) VALUES ('NEPOOL_NHECO_6007660500', '0.41');
Insert into LSPROCESS(PROCESSNAME, DESCRIPTION) VALUES ('NEPOOL_NHECO_5288330300', '1.04');
Insert into LSPROCESS(PROCESSNAME, DESCRIPTION) VALUES ('NEPOOL_NHECO_5352158110', '0.0');
Insert into LSPROCESS(PROCESSNAME, DESCRIPTION) VALUES ('NEPOOL_NHECO_5354310010', '0.78');
Insert into LSPROCESS(PROCESSNAME, DESCRIPTION) VALUES ('NEPOOL_NHECO_5354361510', '0.5');
Insert into LSPROCESS(PROCESSNAME, DESCRIPTION) VALUES ('NEPOOL_NHECO_5366315510', '0.16');
Insert into LSPROCESS(PROCESSNAME, DESCRIPTION) VALUES ('NEPOOL_NHECO_5366316010', '0.0');
Insert into LSPROCESS(PROCESSNAME, DESCRIPTION) VALUES ('NEPOOL_NHECO_5366316510', '0.0');
Insert into LSPROCESS(PROCESSNAME, DESCRIPTION) VALUES ('NEPOOL_NHECO_5480101300', '0.59');
Insert into LSPROCESS(PROCESSNAME, DESCRIPTION) VALUES ('NEPOOL_NHECO_5480180510', '1.48');
Insert into LSPROCESS(PROCESSNAME, DESCRIPTION) VALUES ('NEPOOL_NHECO_5497131710', '0.34');
Insert into LSPROCESS(PROCESSNAME, DESCRIPTION) VALUES ('NEPOOL_NHECO_5515251510', '0.05');
Insert into LSPROCESS(PROCESSNAME, DESCRIPTION) VALUES ('NEPOOL_NHECO_5543149310', '0.16');
Insert into LSPROCESS(PROCESSNAME, DESCRIPTION) VALUES ('NEPOOL_NHECO_5543166810', '1.12');
Insert into LSPROCESS(PROCESSNAME, DESCRIPTION) VALUES ('NEPOOL_NHECO_5543171510', '42.37');
Insert into LSPROCESS(PROCESSNAME, DESCRIPTION) VALUES ('NEPOOL_NHECO_5544101510', '1.15');
Insert into LSPROCESS(PROCESSNAME, DESCRIPTION) VALUES ('NEPOOL_NHECO_5554133810', '0.02');
Insert into LSPROCESS(PROCESSNAME, DESCRIPTION) VALUES ('NEPOOL_NHECO_5560210800', '6.23');
Insert into LSPROCESS(PROCESSNAME, DESCRIPTION) VALUES ('NEPOOL_NHECO_5565200510', '0.02');
Insert into LSPROCESS(PROCESSNAME, DESCRIPTION) VALUES ('NEPOOL_NHECO_5569160710', '0.06');
Insert into LSPROCESS(PROCESSNAME, DESCRIPTION) VALUES ('NEPOOL_NHECO_5569164310', '0.0');
Insert into LSPROCESS(PROCESSNAME, DESCRIPTION) VALUES ('NEPOOL_NHECO_5569164410', '0.0');
Insert into LSPROCESS(PROCESSNAME, DESCRIPTION) VALUES ('NEPOOL_NHECO_5574104110', '0.23');
Insert into LSPROCESS(PROCESSNAME, DESCRIPTION) VALUES ('NEPOOL_NHECO_5574104211', '0.07');
Insert into LSPROCESS(PROCESSNAME, DESCRIPTION) VALUES ('NEPOOL_NHECO_5574104410', '0.15');
Insert into LSPROCESS(PROCESSNAME, DESCRIPTION) VALUES ('NEPOOL_NHECO_5574160510', '0.31');
Insert into LSPROCESS(PROCESSNAME, DESCRIPTION) VALUES ('NEPOOL_NHECO_5574161510', '19.1');
Insert into LSPROCESS(PROCESSNAME, DESCRIPTION) VALUES ('NEPOOL_NHECO_5579103800', '1.0');
Insert into LSPROCESS(PROCESSNAME, DESCRIPTION) VALUES ('NEPOOL_NHECO_5584101512', '1.74');
Insert into LSPROCESS(PROCESSNAME, DESCRIPTION) VALUES ('NEPOOL_NHECO_5584120510', '5.7');
Insert into LSPROCESS(PROCESSNAME, DESCRIPTION) VALUES ('NEPOOL_NHECO_5584174200', '0.2');
Insert into LSPROCESS(PROCESSNAME, DESCRIPTION) VALUES ('NEPOOL_NHECO_6000380100', '4.8');
Insert into LSPROCESS(PROCESSNAME, DESCRIPTION) VALUES ('NEPOOL_NHECO_6000423900', '4.15');
Insert into LSPROCESS(PROCESSNAME, DESCRIPTION) VALUES ('NEPOOL_NHECO_6000721001', '0.02');
Insert into LSPROCESS(PROCESSNAME, DESCRIPTION) VALUES ('NEPOOL_NHECO_6000725001', '0.08');
Insert into LSPROCESS(PROCESSNAME, DESCRIPTION) VALUES ('NEPOOL_NHECO_6000739600', '8.4');
Insert into LSPROCESS(PROCESSNAME, DESCRIPTION) VALUES ('NEPOOL_NHECO_6001258700', '2.55');
Insert into LSPROCESS(PROCESSNAME, DESCRIPTION) VALUES ('NEPOOL_NHECO_6001313100', '2.78');
Insert into LSPROCESS(PROCESSNAME, DESCRIPTION) VALUES ('NEPOOL_NHECO_6002927700', '0.35');
Insert into LSPROCESS(PROCESSNAME, DESCRIPTION) VALUES ('NEPOOL_NHECO_6006806600', '0.37');
Insert into LSPROCESS(PROCESSNAME, DESCRIPTION) VALUES ('NEPOOL_NHECO_6006958000', '0.33');
Insert into LSPROCESS(PROCESSNAME, DESCRIPTION) VALUES ('NEPOOL_NHECO_6007428000', '0.25');
Insert into LSPROCESS(PROCESSNAME, DESCRIPTION) VALUES ('NEPOOL_NHECO_6007616000', '6.2');

In [23]:
sql_query

"Insert into LSPROCESS(PROCESSNAME, DESCRIPTION) VALUES ('NEPOOL_NHECO_6007616000', '6.2');"