# IDR Drop

Implements batch tasks used for IDR drops.

In [1]:
import pandas as pd
import numpy as np
import IDRdrop
import json
import os
print('imported modules successfully.')

imported modules successfully.

In [3]:
os.getcwd()

'C:\\Users\\steve\\Documents\\LA-tools\\IDR_Drop'

# Show downloaded files from EPO portal

Here *filepath* is a directory containing downloaded EPO files. Code will print 20 most recent files.

In [2]:
readpath = 'C:\\Users\\steve\\Downloads'

myfiles = IDRdrop.show_dir(readpath, 20)
print(myfiles)

files found in dir:  C:\Users\steve\Downloads
                                               files                time
0  ngrid_7711bb93-679b-431f-b271-8adb97e59deb_5da... 2019-11-30 14:37:50
1               Anaconda3-2019.10-Windows-x86_64.exe 2019-11-28 20:43:15
2                                        desktop.ini 2019-11-25 11:44:07

Choose files to split into Raw IDR files.

In [3]:
index = [0]

splitfiles = list(myfiles.files[index])
print('files to split: ')
print(splitfiles)

files to split:
['ngrid_7711bb93-679b-431f-b271-8adb97e59deb_5dab0570_hourlycsv.csv']

## Batch process downloaded EPO files into Raw IDRs

In [8]:
readpath = 'C:\\Users\\steve\\Downloads'
writepath = 'C:\\Users\\steve\\Documents\\LA-tools\\IDR_Drop\\Raw IDR Data'
utility = 'MECO'
accts = None
error_log = []

for file in splitfiles:
    try:
        os.chdir(readpath)
        filedf = pd.read_csv(file, sep = ",", header = 0)
    
        IDRdrop.raw_split(filedf, readpath, writepath, utility)
        print('success, file: ', file)
        
    except:
        error_log = error_log.append(file)
        print('error, file: ', file)

found 3 accounts.
MECO_0109757002_IDR_RAW.csv  written.
MECO_0111091000_IDR_RAW.csv  written.
MECO_0121947000_IDR_RAW.csv  written.
success, file:  ngrid_7711bb93-679b-431f-b271-8adb97e59deb_5dab0570_hourlycsv.csv

## Show Raw IDR files based on utility

Here *rawpath* is directory containing Raw IDRs - 25 most recent will be shown.

In [9]:
rawfiles = IDRdrop.show_dir(writepath, 20)
print(rawfiles)

files found in dir:  C:\Users\steve\Documents\LA-tools\IDR_Drop\Raw IDR Data
                                               files                time
0                        MECO_0121947000_IDR_RAW.csv 2019-11-30 14:43:42
1                        MECO_0111091000_IDR_RAW.csv 2019-11-30 14:43:42
2                        MECO_0109757002_IDR_RAW.csv 2019-11-30 14:43:42
3                 0021483009 700457_MECO_IDR_RAW.csv 2019-11-25 12:10:41
4                 0021483009 700458_MECO_IDR_RAW.csv 2019-11-25 12:10:41
5            WMECO_54629602087_702741008_IDR_RAW.csv 2019-11-25 12:10:41
6            WMECO_54260602099_085741000_IDR_RAW.csv 2019-11-25 12:10:41
7            WMECO_54024602039_024741000_IDR_RAW.csv 2019-11-25 12:10:41
8                    SPLIT_FILE_ERROR_05_24_2019.csv 2019-11-25 12:10:41
9                  SPLIT_FILE_ERROR_05_23_2019_2.csv 2019-11-25 12:10:41
10                   SPLIT_FILE_ERROR_05_23_2019.csv 2019-11-25 12:10:41
11             CLP_51972166003_989681003_IDR_RAW.csv 2019-11-25 12:10:41
12             CLP_51432004075_932392009_IDR_RAW.csv 2019-11-25 12:10:41
13             CLP_51359134038_871682009_IDR_RAW.csv 2019-11-25 12:10:41
14             CLP_51271266066_097681001_IDR_RAW.csv 2019-11-25 12:10:41
15             CLP_51103183075_555823005_IDR_RAW.csv 2019-11-25 12:10:41
16             CLP_51074577008_308122004_IDR_RAW.csv 2019-11-25 12:10:41
17          0074816023 SALVE REGINA_MECO_IDR_RAW.csv 2019-11-25 12:10:41
18    0067880031 OLD STURBRIDGE INC_MECO_IDR_RAW.csv 2019-11-25 12:10:41
19  0040677012 JAMES CAMBELL CO LLC_MECO_IDR_RAW.csv 2019-11-25 12:10:41

Choose Raw IDRs to filter into IDR files.

In [11]:
index = [3]

processfiles = rawfiles.files[:3]
files = list(processfiles)
print('files to process: ')
print(processfiles)

files to process:
0    MECO_0121947000_IDR_RAW.csv
1    MECO_0111091000_IDR_RAW.csv
2    MECO_0109757002_IDR_RAW.csv
Name: files, dtype: object

## Batch filter Raw IDR into IDR files to be dropped

In [13]:
readpath = 'C:\\Users\\steve\\Documents\\LA-tools\\IDR_Drop\\Raw IDR Data'
writepath = 'C:\\Users\\steve\\Documents\\LA-tools\\IDR_Drop\\IDR Data'
error_log = []

for dropfile in files:
    try:
        IDRdrop.data_drop(dropfile, readpath, writepath)
        print('success, file: ', dropfile)
    
    except:
        try:
            error_log = error_log.append(dropfile)
            print("error, file: ", dropfile)
        except:
            pass

success, file:  MECO_0121947000_IDR_RAW.csv
success, file:  MECO_0111091000_IDR_RAW.csv
success, file:  MECO_0109757002_IDR_RAW.csv

In [13]:
type(error_log)
error_log

[]

### Change meters to vertical

In [14]:
data_dir = 'C:\\Users\\steve\\Documents\\LA-tools\\IDR_Drop\\IDR Data'
os.chdir(data_dir)
idr = IDRdrop.show_dir(data_dir, 10)
idr

files found in dir:  C:\Users\steve\Documents\LA-tools\IDR_Drop\IDR Data

                                          files                time
0                       MECO_0109757002_IDR.csv 2019-11-30 14:44:55
1                       MECO_0111091000_IDR.csv 2019-11-30 14:44:55
2                       MECO_0121947000_IDR.csv 2019-11-30 14:44:55
3              ._0021483009 700457_MECO_IDR.csv 2019-11-25 12:10:41
4                0021483009 700457_MECO_IDR.csv 2019-11-25 12:10:41
5                0021483009 700458_MECO_IDR.csv 2019-11-25 12:10:41
6  0021483009 GR LAWRENCE SANITARY_MECO_IDR.csv 2019-11-25 12:10:41
7  0040677012 JAMES CAMBELL CO LLC_MECO_IDR.csv 2019-11-25 12:10:41
8    0067880031 OLD STURBRIDGE INC_MECO_IDR.csv 2019-11-25 12:10:41
9          0074816023 SALVE REGINA_MECO_IDR.csv 2019-11-25 12:10:41

In [15]:
myfiles = idr.files[:3]
for f in myfiles:
    IDRdrop.hor_to_vert(f)

transformed and wrote MECO_0109757002_IDR.csv to MECO_0109757002_IDR_vert.csv.
transformed and wrote MECO_0111091000_IDR.csv to MECO_0111091000_IDR_vert.csv.
transformed and wrote MECO_0121947000_IDR.csv to MECO_0121947000_IDR_vert.csv.

In [15]:
test = pd.read_csv('CLP_51359134038_871682009_IDR_vert.csv', header = 0)
test.columns = ['t', 'v']
test.interpolate(method = 'linear', axis = 0, limit = 7, inplace = True)
test

                        t        v
0     2018-04-16 01:00:00   86.400
1     2018-04-16 02:00:00   91.692
2     2018-04-16 03:00:00   90.072
3     2018-04-16 04:00:00   94.608
4     2018-04-16 05:00:00  117.504
...                   ...      ...
9594  2019-05-20 19:00:00      NaN
9595  2019-05-20 20:00:00      NaN
9596  2019-05-20 21:00:00      NaN
9597  2019-05-20 22:00:00      NaN
9598  2019-05-20 23:00:00      NaN

[9599 rows x 2 columns]