# Batch EQL Queries

In [1]:
import os
import inspect
import time
import math
import json
import logging
import pickle

from energyworx_client.client import EWX
from energyworx_client import storage

import pandas as pd
import numpy as np
from scipy import stats
import pprint
import datetime as dt

import matplotlib.pyplot as plt
import matplotlib.dates as mdates
%matplotlib inline

from IPython.display import display


base = os.getcwd()
namespace = 'na.engie.com'
api = EWX(namespace)
pp = pprint.PrettyPrinter(indent = 1)

# Function to Batch Large Queries

In [2]:
def single_query(query, lim, job, pg, result_data):
    
    if job and pg:
        meta_data  = api.execute_query(query, limit = lim, raw_result = True, job_id = job, page_token = pg) 
    
    else:
        meta_data  = api.execute_query(query, limit = lim, raw_result = True)
    
    try:
        pt = str(meta_data['pageToken']) #get page token
        tot = int(meta_data['metadata']['totalRows']) #get total rows
        job = str(meta_data['reference']['jobId']) #get job id
        
    except:
        print 'no page token needed.'

    var_fields = [] #get var names

    for f in meta_data['metadata']['fields']:
        var_fields.append(str(f['field']))
        
    p = len(var_fields)
        
    for row in meta_data['rows']:
        try:
            final_row = []
            for r in row['f']:
                final_row.append(str(r['v']))
                
            result_data.append(final_row)
            
        except:
            print 'row error'
        
        
    return(result_data, tot, pt, job, var_fields)

def large_query(query, num):
    
    tot_start = time.time()
    result = []
    print 'starting query...'
    start = time.time()
    result, n, pt, job, var = single_query(query, num, None, None, result)
    end = time.time()
    m = len(result)
    i = 0
    elapse = round(end - start, 2)
    print 'done with {} out of {} rows in {} seconds.'.format(m, n, elapse)
    
    batch = int(math.ceil(n/num))
    print 'running {} more batches:'.format(batch)
    
    while i < batch and batch > 0:
        try:
            start = time.time()
            print 'running batch {}...'.format(i+1)
            
            result, n, pt, job, var = single_query(query, num, job, pt, result)
            batch = int(math.ceil(n/num))
            
            end = time.time()
            elapse = round(end - start, 2)
            m = len(result)
            
            print 'done with {} out of {} rows in {} seconds,'.format(m, n, elapse)
            i += 1
            print 'ran batch {} of {}.'.format(i, batch)
            
            if (n - m) < num:
                num = n - m
        
        except:
            print 'error (hopefully out of rows to query).'
            i += 1
    
    tot_end = time.time()
    print 'query finished in {} total seconds.'.format(round(tot_end-tot_start, 2))
    return(result, var)

## Metadata Query

In [7]:
meta_query = "WITH PRlist AS (SELECT DISTINCT(datasource_id) FROM tags, UNNEST (properties) props WHERE props.key = 'prnumber' AND props.value = '1-IFF3XL'),\
stats AS (select datasource_id,flow_timestamp,flow_type,channel_classifier_id,flow_id, p.key, p.value from flow_metadata, UNNEST(PROPERTIES) AS p),\
MaxTimeStamp as (select datasource_id, MAX(flow_timestamp) m_flow_timestamp from flow_metadata GROUP BY datasource_id)\
Select s.* from stats AS s,PRlist AS prl,MaxTimeStamp as mtsp WHERE \
(s.key ='datasetMetadata.RAW.startDate' OR s.key = 'datasetMetadata.RAW.endDate' or s.key = 'datasetMetadata.RAW.usage' or s.key = 'datasetMetadata.MERGED.usage' or s.key ='datasetMetadata.MERGED.startDate' OR s.key = 'datasetMetadata.MERGED.endDate') \
and s.datasource_id IN (prl.datasource_id) and s.flow_timestamp IN (mtsp.m_flow_timestamp)"

output, variables = large_query(meta_query, 500)

starting query...
done with 500 out of 3090 rows in 55.65 seconds.
running 6 more batches:
running batch 1...
done with 1000 out of 3090 rows in 47.9 seconds,
ran batch 1 of 6.
running batch 2...
done with 1500 out of 3090 rows in 21.54 seconds,
ran batch 2 of 6.
running batch 3...
done with 2000 out of 3090 rows in 39.71 seconds,
ran batch 3 of 6.
running batch 4...
done with 2500 out of 3090 rows in 20.41 seconds,
ran batch 4 of 6.
running batch 5...
done with 3000 out of 3090 rows in 20.26 seconds,
ran batch 5 of 6.
running batch 6...
no page token needed.
error (hopefully out of rows to query).
query finished in 210.03 total seconds.

## Test smaller batch size

In [8]:
output, variables = large_query(meta_query, 50)

starting query...
done with 50 out of 3090 rows in 18.47 seconds.
running 61 more batches:
running batch 1...
done with 100 out of 3090 rows in 5.56 seconds,
ran batch 1 of 61.
running batch 2...
done with 150 out of 3090 rows in 2.73 seconds,
ran batch 2 of 61.
running batch 3...
done with 200 out of 3090 rows in 4.33 seconds,
ran batch 3 of 61.
running batch 4...
done with 250 out of 3090 rows in 2.93 seconds,
ran batch 4 of 61.
running batch 5...
done with 300 out of 3090 rows in 4.29 seconds,
ran batch 5 of 61.
running batch 6...
done with 350 out of 3090 rows in 2.81 seconds,
ran batch 6 of 61.
running batch 7...
done with 400 out of 3090 rows in 2.64 seconds,
ran batch 7 of 61.
running batch 8...
done with 450 out of 3090 rows in 2.95 seconds,
ran batch 8 of 61.
running batch 9...
done with 500 out of 3090 rows in 7.48 seconds,
ran batch 9 of 61.
running batch 10...
done with 550 out of 3090 rows in 3.52 seconds,
ran batch 10 of 61.
running batch 11...
done with 600 out of 3090 rows in 2.89 seconds,
ran batch 11 of 61.
running batch 12...
done with 650 out of 3090 rows in 2.93 seconds,
ran batch 12 of 61.
running batch 13...
done with 700 out of 3090 rows in 2.64 seconds,
ran batch 13 of 61.
running batch 14...
done with 750 out of 3090 rows in 2.76 seconds,
ran batch 14 of 61.
running batch 15...
done with 800 out of 3090 rows in 4.2 seconds,
ran batch 15 of 61.
running batch 16...
done with 850 out of 3090 rows in 3.02 seconds,
ran batch 16 of 61.
running batch 17...
done with 900 out of 3090 rows in 2.95 seconds,
ran batch 17 of 61.
running batch 18...
done with 950 out of 3090 rows in 2.98 seconds,
ran batch 18 of 61.
running batch 19...
done with 1000 out of 3090 rows in 2.78 seconds,
ran batch 19 of 61.
running batch 20...
done with 1050 out of 3090 rows in 2.71 seconds,
ran batch 20 of 61.
running batch 21...
done with 1100 out of 3090 rows in 3.79 seconds,
ran batch 21 of 61.
running batch 22...
done with 1150 out of 3090 rows in 4.37 seconds,
ran batch 22 of 61.
running batch 23...
done with 1200 out of 3090 rows in 3.06 seconds,
ran batch 23 of 61.
running batch 24...
done with 1250 out of 3090 rows in 4.61 seconds,
ran batch 24 of 61.
running batch 25...
done with 1300 out of 3090 rows in 2.81 seconds,
ran batch 25 of 61.
running batch 26...
done with 1350 out of 3090 rows in 4.03 seconds,
ran batch 26 of 61.
running batch 27...
done with 1400 out of 3090 rows in 3.64 seconds,
ran batch 27 of 61.
running batch 28...
done with 1450 out of 3090 rows in 3.04 seconds,
ran batch 28 of 61.
running batch 29...
done with 1500 out of 3090 rows in 3.19 seconds,
ran batch 29 of 61.
running batch 30...
done with 1550 out of 3090 rows in 2.81 seconds,
ran batch 30 of 61.
running batch 31...
done with 1600 out of 3090 rows in 3.24 seconds,
ran batch 31 of 61.
running batch 32...
done with 1650 out of 3090 rows in 3.35 seconds,
ran batch 32 of 61.
running batch 33...
done with 1700 out of 3090 rows in 2.74 seconds,
ran batch 33 of 61.
running batch 34...
done with 1750 out of 3090 rows in 2.97 seconds,
ran batch 34 of 61.
running batch 35...
done with 1800 out of 3090 rows in 2.98 seconds,
ran batch 35 of 61.
running batch 36...
done with 1850 out of 3090 rows in 5.26 seconds,
ran batch 36 of 61.
running batch 37...
done with 1900 out of 3090 rows in 3.13 seconds,
ran batch 37 of 61.
running batch 38...
done with 1950 out of 3090 rows in 4.45 seconds,
ran batch 38 of 61.
running batch 39...
done with 2000 out of 3090 rows in 4.49 seconds,
ran batch 39 of 61.
running batch 40...
done with 2050 out of 3090 rows in 2.85 seconds,
ran batch 40 of 61.
running batch 41...
done with 2100 out of 3090 rows in 2.66 seconds,
ran batch 41 of 61.
running batch 42...
done with 2150 out of 3090 rows in 3.1 seconds,
ran batch 42 of 61.
running batch 43...
done with 2200 out of 3090 rows in 4.27 seconds,
ran batch 43 of 61.
running batch 44...
done with 2250 out of 3090 rows in 4.66 seconds,
ran batch 44 of 61.
running batch 45...
done with 2300 out of 3090 rows in 4.78 seconds,
ran batch 45 of 61.
running batch 46...
done with 2350 out of 3090 rows in 2.89 seconds,
ran batch 46 of 61.
running batch 47...
done with 2400 out of 3090 rows in 2.97 seconds,
ran batch 47 of 61.
running batch 48...
done with 2450 out of 3090 rows in 4.57 seconds,
ran batch 48 of 61.
running batch 49...
done with 2500 out of 3090 rows in 3.01 seconds,
ran batch 49 of 61.
running batch 50...
done with 2550 out of 3090 rows in 4.22 seconds,
ran batch 50 of 61.
running batch 51...
done with 2600 out of 3090 rows in 3.32 seconds,
ran batch 51 of 61.
running batch 52...
done with 2650 out of 3090 rows in 3.13 seconds,
ran batch 52 of 61.
running batch 53...
done with 2700 out of 3090 rows in 5.19 seconds,
ran batch 53 of 61.
running batch 54...
done with 2750 out of 3090 rows in 2.91 seconds,
ran batch 54 of 61.
running batch 55...
done with 2800 out of 3090 rows in 3.11 seconds,
ran batch 55 of 61.
running batch 56...
done with 2850 out of 3090 rows in 2.74 seconds,
ran batch 56 of 61.
running batch 57...
done with 2900 out of 3090 rows in 3.23 seconds,
ran batch 57 of 61.
running batch 58...
done with 2950 out of 3090 rows in 2.86 seconds,
ran batch 58 of 61.
running batch 59...
done with 3000 out of 3090 rows in 2.63 seconds,
ran batch 59 of 61.
running batch 60...
done with 3050 out of 3090 rows in 4.22 seconds,
ran batch 60 of 61.
running batch 61...
no page token needed.
error (hopefully out of rows to query).
query finished in 232.51 total seconds.

## Convert output to dataframe

In [6]:
output_df = pd.DataFrame(output)
output_df.columns = variables
output_df['key'] = ['_'.join(k.split('.')[1:]) for k in output_df.key]

                      datasource_id       flow_timestamp flow_type  \
0    ERCOT_AEPCPL_10032789489124369  1.550676853554602E9  scenario
1     ERCOT_ONCOR_10443720000474400  1.550677353939528E9  scenario
2  ERCOT_CPT_1008901016900570530112  1.550681244868334E9  scenario
3  ERCOT_CPT_1008901007114120287100  1.550681951545643E9  scenario
4  ERCOT_CPT_1008901023804689270100  1.550682340670881E9  scenario

  channel_classifier_id                           flow_id        key     value
0                MERGED  c2af7f651e4844a79d6d764697bca80e  RAW_usage  188889.0
1                MERGED  9ceb655319674d2f87f0cd1beffab46a  RAW_usage  116880.0
2                MERGED  bd1f2e9211db4c70aeee6f596d64e55a  RAW_usage  210560.0
3                MERGED  ea033866ca04437799be8092b194c2ad  RAW_usage  409480.0
4                MERGED  e7cd071817284cd98be4a35b43c9e12b  RAW_usage  592480.0
...
                         datasource_id       flow_timestamp flow_type  \
3085  ERCOT_CPT_1008901020147749520100  1.550681817348878E9  scenario
3086    ERCOT_AEPCPL_10032789421225835  1.550679080140179E9  scenario
3087  ERCOT_CPT_1008901000146270012100  1.550682422186472E9  scenario
3088     ERCOT_ONCOR_10443720000175833  1.550680658932537E9  scenario
3089     ERCOT_ONCOR_10176990007550472  1.550677350978416E9  scenario

     channel_classifier_id                           flow_id  \
3085                MERGED  82447054b512459bb65c55a59dd6d315
3086                MERGED  1ab1d36bbde1499ba9f91c56a7e3fec3
3087                MERGED  a554d78be09a4a4990ea5da54256f7c7
3088                MERGED  8828d2d8053c4493a9431e0f8d2ced9f
3089                MERGED  35d6d0ef598a40a19287c1f04a5e3a49

                   key                      value
3085  MERGED_startDate  2016-06-14 05:00:00+00:00
3086  MERGED_startDate  2016-05-06 05:00:00+00:00
3087  MERGED_startDate  2018-01-29 06:15:00+00:00
3088  MERGED_startDate  2016-05-31 05:00:00+00:00
3089  MERGED_startDate  2016-06-16 05:00:00+00:00

## Pivot dataframe, type conversion

In [8]:
final_output = output_df.pivot(index = 'datasource_id', columns = 'key', values = 'value')

final_output['MERGED_endDate'] = pd.to_datetime(final_output.MERGED_endDate)
final_output['MERGED_startDate'] = pd.to_datetime(final_output.MERGED_startDate)
final_output['RAW_endDate'] = pd.to_datetime(final_output.RAW_endDate)
final_output['RAW_startDate'] = pd.to_datetime(final_output.RAW_startDate)
final_output['MERGED_usage'] = pd.to_numeric(final_output.MERGED_usage)
final_output['RAW_usage'] = pd.to_numeric(final_output.RAW_usage)
## time period units = days
final_output['MERGED_timePd'] = [round((pd.Timedelta(e - s).total_seconds() / 86400), 8) for e, s in zip(final_output.MERGED_endDate, final_output.MERGED_startDate)]
final_output['RAW_timePd'] = [round((pd.Timedelta(e - s).total_seconds() / 86400), 8) for e, s in zip(final_output.RAW_endDate, final_output.RAW_startDate)]
final_output['MERGED_meanUse'] = [u / t for u, t in zip(final_output.MERGED_usage, final_output.MERGED_timePd)]
final_output['RAW_meanUse'] = [u / t for u, t in zip(final_output.RAW_usage, final_output.RAW_timePd)]
final_output.head()

key,MERGED_endDate,MERGED_startDate,MERGED_usage,RAW_endDate,RAW_startDate,RAW_usage,MERGED_timePd,RAW_timePd,MERGED_meanUse,RAW_meanUse
datasource_id,,,,,,,,,,
ERCOT_AEPCPL_10032789400513438,2029-11-01 05:00:00,2016-05-23 05:00:00,1.681069e+06,2019-01-23 06:00:00,2016-05-23 05:00:00,245073.0,4910.0,975.041667,342.376628,251.346182
ERCOT_AEPCPL_10032789400766221,2029-11-01 05:00:00,2016-05-09 05:00:00,3.666146e+06,2019-02-07 06:00:00,2016-05-09 05:00:00,572320.0,4924.0,1004.041667,744.546334,570.016185
ERCOT_AEPCPL_10032789400766222,2029-11-01 05:00:00,2016-05-09 05:00:00,2.016774e+05,2019-02-07 06:00:00,2016-05-09 05:00:00,32240.0,4924.0,1004.041667,40.958039,32.110221
ERCOT_AEPCPL_10032789401211235,2029-11-01 05:00:00,2016-04-29 05:00:00,1.955844e+06,2019-01-30 06:00:00,2016-04-29 05:00:00,292753.0,4934.0,1006.041667,396.401346,290.994906
ERCOT_AEPCPL_10032789401957901,2029-11-01 05:00:00,2016-05-05 05:00:00,2.557878e+04,2019-02-05 06:00:00,2016-05-05 05:00:00,4030.0,4928.0,1006.041667,5.190500,4.005798

In [9]:
final_output.shape

(515, 10)

In [10]:
storage.to_csv(final_output, 'metadata_query_output.csv')

## Geomapping

In [4]:
geomap = "WITH dvm AS (SELECT distinct datasource_id AS dvm_datasource_id, MAX(version) dvm_version FROM tags, UNNEST(properties) AS p WHERE tag = 'geopoint' GROUP BY datasource_id),\
dvm1 AS (SELECT distinct datasource_id AS dvm_datasource_id, MAX(version) dvm_version FROM tags, UNNEST(properties) AS p WHERE tag = 'premise' GROUP BY datasource_id),\
latitudes AS (SELECT distinct datasource_id, version AS lat_version, p.value as latitude FROM tags, UNNEST(properties) AS p WHERE tag = 'geopoint' AND p.key = 'latitude'),\
longitudes AS (SELECT distinct datasource_id, version AS long_version, p.value as longitude FROM tags, UNNEST(properties) AS p WHERE tag = 'geopoint' AND p.key = 'longitude'),\
zips AS (SELECT distinct datasource_id, version AS zip_version, p.value as zip FROM tags, UNNEST(properties) AS p WHERE tag = 'premise' AND p.key = 'zip'),\
fl AS (SELECT distinct datasource_id, MAX(flow_timestamp) AS tsmp from flow_metadata GROUP BY datasource_id ORDER by tsmp) \
SELECT distinct fl.datasource_id, DATETIME(fl.tsmp, 'America/Chicago') AS flow_tmsp, zips.zip, DATETIME(zips.zip_version, 'America/Chicago') AS premise_version, \
latitudes.latitude, longitudes.longitude, DATETIME(latitudes.lat_version, 'America/Chicago') AS geopoint_version \
FROM fl \
INNER JOIN zips on zips.datasource_id = fl.datasource_id \
INNER JOIN latitudes on latitudes.datasource_id = fl.datasource_id \
INNER JOIN longitudes on longitudes.datasource_id = fl.datasource_id \
INNER JOIN dvm on dvm.dvm_datasource_id = fl.datasource_id \
INNER JOIN dvm1 on dvm1.dvm_datasource_id = fl.datasource_id \
WHERE fl.tsmp > '2019-07-19T00:00:00' and fl.tsmp <= '2019-07-19T23:00:00' \
AND dvm.dvm_version = latitudes.lat_version \
AND dvm.dvm_version = longitudes.long_version \
AND dvm1.dvm_version = zips.zip_version"

In [5]:
geo, geo_var = large_query(geomap, 50)

starting query...
done with 50 out of 434 rows in 19.41 seconds.
running 8 more batches:
running batch 1...
done with 100 out of 434 rows in 4.27 seconds,
ran batch 1 of 8.
running batch 2...
done with 150 out of 434 rows in 4.51 seconds,
ran batch 2 of 8.
running batch 3...
done with 200 out of 434 rows in 4.15 seconds,
ran batch 3 of 8.
running batch 4...
done with 250 out of 434 rows in 6.52 seconds,
ran batch 4 of 8.
running batch 5...
done with 300 out of 434 rows in 6.0 seconds,
ran batch 5 of 8.
running batch 6...
done with 350 out of 434 rows in 5.98 seconds,
ran batch 6 of 8.
running batch 7...
done with 400 out of 434 rows in 4.69 seconds,
ran batch 7 of 8.
running batch 8...
no page token needed.
error (hopefully out of rows to query).
query finished in 59.9 total seconds.

In [6]:
geo_df = pd.DataFrame(geo)
geo_df.columns = geo_var
geo_df['flow_tmsp'] = pd.to_datetime(geo_df.flow_tmsp)
geo_df['premise_version'] = pd.to_datetime(geo_df.premise_version)
geo_df['latitude'] = pd.to_numeric(geo_df.latitude)
geo_df['longitude'] = pd.to_numeric(geo_df.longitude)
geo_df['geopoint_version'] = pd.to_datetime(geo_df.geopoint_version)
geo_df

,datasource_id,flow_tmsp,zip,premise_version,latitude,longitude,geopoint_version
0,ERCOT_ONCOR_10443720006444378,2019-07-19 04:55:29.193854,76543,2019-07-18 11:38:26.944058,31.113850,-97.702119,2019-07-18 11:38:26.944216
1,ERCOT_ONCOR_10443720007769008,2019-07-19 04:53:40.548727,76549,2019-07-18 11:38:31.532028,31.103194,-97.798050,2019-07-18 11:38:31.532290
2,PJM_BGE_8362930297,2019-07-19 14:39:13.831490,20794,2019-06-29 07:10:02.488668,39.169593,-76.785947,2019-06-29 07:10:02.488800
3,NEPOOL_PSNH_56119465086_985601009,2019-07-19 04:53:43.017792,03045,2019-07-18 11:38:29.263080,43.014408,-71.562076,2019-07-18 11:38:29.263317
4,PJM_BGE_2767448406,2019-07-19 14:44:25.074727,21230,2019-06-29 07:10:36.652858,39.249829,-76.645738,2019-06-29 07:10:36.652979
5,PJM_BGE_3931866968,2019-07-19 10:00:29.601324,21228,2019-07-19 09:55:27.964972,39.284529,-76.755986,2019-07-19 09:55:27.965082
6,PJM_DPL_0550117429257001616464,2019-07-19 14:43:10.578496,21643,2019-07-02 08:13:27.717165,38.630016,-75.858751,2019-07-02 08:13:27.717311
7,ERCOT_ONCOR_10443720001482952,2019-07-19 04:55:09.114261,76541,2019-07-18 11:34:26.033822,31.123675,-97.718379,2019-07-18 11:34:26.034431
8,PJM_BGE_8774854390,2019-07-19 14:39:07.131677,21040,2019-06-29 07:09:45.477326,39.434049,-76.316238,2019-06-29 07:09:45.477457
9,ERCOT_ONCOR_10443720003417908,2019-07-19 09:37:16.316513,75042,2019-07-19 09:31:42.779284,32.909691,-96.664165,2019-07-19 09:31:42.779610
10,ERCOT_ONCOR_10443720006507246,2019-07-19 04:55:39.841640,76541,2019-07-18 11:34:25.638051,31.124540,-97.722915,2019-07-18 11:34:25.638245
11,PJM_BGE_8890620853,2019-07-19 10:00:29.536301,21236,2019-07-19 09:55:27.679782,39.373032,-76.509553,2019-07-19 09:55:27.679930
12,NEPOOL_PSNH_56745731034_306201005,2019-07-19 09:03:05.618919,03276,2019-06-26 06:33:13.642406,43.427551,-71.594754,2019-06-26 06:33:13.642671
13,ERCOT_ONCOR_10443720008242936,2019-07-19 04:47:59.085233,76549,2019-07-18 11:33:17.431476,31.106693,-97.783427,2019-07-18 11:33:17.431619
14,NEPOOL_PSNH_56674146006_466933001,2019-07-19 08:54:25.567079,03220,2019-06-26 06:33:34.829443,43.485508,-71.510118,2019-06-26 06:33:34.830678
15,ERCOT_ONCOR_10443720007963843,2019-07-19 04:55:57.801489,76548,2019-07-18 11:38:27.271760,31.056785,-97.650787,2019-07-18 11:38:27.271939
16,PJM_BGE_3916688822,2019-07-19 09:57:33.552598,21244,2019-07-19 09:51:39.297108,39.324190,-76.750531,2019-07-19 09:51:39.298334
17,PJM_DAYTON_2241143029,2019-07-19 08:38:33.235068,45385,2019-07-05 09:51:50.555283,39.684782,-83.929653,2019-07-05 09:51:50.556997
18,ERCOT_ONCOR_10443720002371412,2019-07-19 04:58:01.903741,76541,2019-07-18 11:39:12.180076,31.096736,-97.730804,2019-07-18 11:39:12.180310
19,PJM_APS_08042756075000796963,2019-07-19 14:33:58.779523,21740,2019-06-30 09:22:32.830285,39.625400,-77.764832,2019-06-30 09:22:32.830402
20,PJM_BGE_8642978049,2019-07-19 14:42:58.619040,21228,2019-06-29 07:09:20.066719,39.284493,-76.762981,2019-06-29 07:09:20.089080
21,ERCOT_ONCOR_10443720001662876,2019-07-19 04:53:30.421906,76543,2019-07-18 11:34:21.695511,31.111561,-97.697237,2019-07-18 11:34:21.695634
22,NEPOOL_PSNH_56604711002_361492000,2019-07-19 08:59:59.026437,03886,2019-06-26 06:37:37.704096,43.891173,-71.297801,2019-06-26 06:37:37.704308
23,NEPOOL_PSNH_56904141033_339401004,2019-07-19 08:59:58.123989,03220,2019-06-26 06:32:40.939101,43.444517,-71.477593,2019-06-26 06:32:40.939397
24,NEPOOL_PSNH_56127590081_793760002,2019-07-19 09:02:14.420424,03276,2019-06-26 06:33:25.036564,43.429484,-71.584264,2019-06-26 06:33:25.054737
25,ERCOT_ONCOR_10443720001663062,2019-07-19 04:56:05.185735,76543,2019-07-18 11:38:15.537190,31.120769,-97.697287,2019-07-18 11:38:15.537307
26,ERCOT_ONCOR_10443720008347096,2019-07-19 04:57:48.226116,76543,2019-07-18 11:33:45.219818,31.090262,-97.701874,2019-07-18 11:33:45.219930
27,ERCOT_ONCOR_10443720001656924,2019-07-19 04:58:46.092524,76543,2019-07-18 11:33:40.623333,31.148223,-97.676516,2019-07-18 11:33:40.623597
28,ERCOT_ONCOR_10443720008302857,2019-07-19 09:04:56.867936,75041,2019-07-19 08:48:19.102846,32.888945,-96.680937,2019-07-19 08:48:19.103100
29,ERCOT_ONCOR_10443720007983931,2019-07-19 04:58:45.977172,76559,2019-07-18 11:34:44.433212,31.073523,-97.621131,2019-07-18 11:34:44.433336
...,...,...,...,...,...,...,...
404,PJM_BGE_5962715966,2019-07-19 14:44:32.221133,21213,2019-06-29 07:09:09.158610,39.309836,-76.562543,2019-06-29 07:09:09.158736
405,NEPOOL_PSNH_56040565061_720690002,2019-07-19 04:56:43.731951,3060,2019-07-18 11:24:03.076438,37.789597,-122.391197,2019-07-18 11:24:03.076691
406,ERCOT_ONCOR_10443720007918149,2019-07-19 04:55:21.714496,76548,2019-07-18 11:38:19.652497,31.070366,-97.644997,2019-07-18 11:38:19.652627
407,PJM_ATSIOE_08037516880000965501,2019-07-19 08:26:16.263854,44288,2019-05-24 15:51:39.851260,41.251745,-81.048821,2019-05-24 15:51:40.647138
408,PJM_BGE_8104145007,2019-07-19 14:44:29.340103,21206,2019-06-29 07:08:48.172265,39.347393,-76.539646,2019-06-29 07:08:48.172416
409,NEPOOL_PSNH_56904141033_820611008,2019-07-19 09:01:50.333856,03220,2019-06-26 06:33:14.906332,43.464848,-71.468092,2019-06-26 06:33:14.906585
410,PJM_PPL_9421653008,2019-07-19 14:14:01.925954,18503,2019-07-09 13:07:14.724688,41.416362,-75.671637,2019-07-09 13:07:14.724809
411,ERCOT_ONCOR_10443720000997950,2019-07-19 15:12:09.788105,76657,2019-07-19 14:57:25.283738,31.436516,-97.416505,2019-07-19 14:57:25.283872
412,NYISO_CONED_427023207000024,2019-07-19 04:57:20.946104,10022,2019-07-18 06:52:10.693928,40.757021,-73.974669,2019-07-18 06:52:10.694317
413,PJM_BGE_4483494234,2019-07-19 14:40:38.953973,21237,2019-06-29 07:03:05.751521,39.330235,-76.501445,2019-06-29 07:03:05.751657
414,PJM_APS_08042756075000984898,2019-07-19 14:44:37.242088,21550,2019-06-30 09:22:57.401098,39.418855,-79.400933,2019-06-30 09:22:57.401215
415,PJM_APSPA_08052874460007218738,2019-07-19 08:00:59.863703,15401,2019-07-19 07:50:09.538805,39.901603,-79.737642,2019-07-19 07:50:09.539904
416,NEPOOL_PSNH_56821341088_465601009,2019-07-19 08:54:05.450951,03864,2019-06-26 06:33:37.928039,43.700198,-71.140157,2019-06-26 06:33:37.930565
417,NEPOOL_PSNH_56032451049_728511000,2019-07-19 09:03:01.373499,03276,2019-06-26 06:38:10.493062,43.386754,-71.615822,2019-06-26 06:38:10.493406
418,PJM_BGE_9848585032,2019-07-19 14:43:03.297016,21207,2019-06-29 07:09:19.015820,39.344515,-76.734825,2019-06-29 07:09:19.016652
419,PJM_BGE_8188430771,2019-07-19 14:31:26.537172,21078,2019-06-29 07:10:47.055581,39.545296,-76.109027,2019-06-29 07:10:47.060995
420,PJM_BGE_4244769710,2019-07-19 14:22:30.113697,20794,2019-06-29 07:02:22.799597,39.169593,-76.785947,2019-06-29 07:02:22.799731
421,PJM_BGE_8453553051,2019-07-19 14:31:24.671705,21229,2019-06-29 07:09:40.309550,39.281588,-76.674794,2019-06-29 07:09:40.326557
422,PJM_BGE_3053570386,2019-07-19 14:31:15.862049,21237,2019-06-29 07:02:49.850926,39.335404,-76.492671,2019-06-29 07:02:49.851102
423,ERCOT_ONCOR_10443720008157593,2019-07-19 04:53:17.910569,76543,2019-07-18 11:40:34.269291,31.111561,-97.697237,2019-07-18 11:40:34.269560
424,PJM_PECO_3768401102,2019-07-18 23:06:08.466960,19125,2019-07-18 23:00:58.938554,39.984148,-75.120514,2019-07-18 23:00:58.938880
425,ERCOT_ONCOR_10443720002198680,2019-07-19 04:58:26.038543,76559,2019-07-18 11:33:49.935806,31.073523,-97.621131,2019-07-18 11:33:49.936398
426,ERCOT_ONCOR_10443720001749955,2019-07-19 04:56:44.472691,76548,2019-07-18 11:38:40.567675,31.058823,-97.669451,2019-07-18 11:38:40.567784
427,ERCOT_ONCOR_10443720007853855,2019-07-19 04:53:30.666504,76543,2019-07-18 11:38:44.653110,31.116075,-97.660576,2019-07-18 11:38:44.653244
428,PJM_PEPCO_0500093530337002161669,2019-07-19 14:33:47.798215,20743,2019-07-05 13:11:12.436925,38.887892,-76.900784,2019-07-05 13:11:12.437290
429,NEPOOL_PSNH_56113021034_551090005,2019-07-19 09:02:51.937488,03814,2019-06-26 06:37:53.159977,43.750224,-71.196499,2019-06-26 06:37:53.269469
430,PJM_BGE_3798235851,2019-07-19 14:31:23.552046,21224,2019-06-29 07:02:49.057896,39.294618,-76.512071,2019-06-29 07:02:49.058011
431,PJM_BGE_4390540325,2019-07-19 14:49:23.413609,21078,2019-06-29 07:10:31.873999,39.540673,-76.103590,2019-06-29 07:10:31.874118
432,PJM_APSPA_08052434620006702164,2019-07-19 07:55:12.837371,15401,2019-07-19 07:50:11.263172,39.901249,-79.740762,2019-07-19 07:50:11.263825
433,PJM_PEPCO_0550157198127001290377,2019-07-19 14:48:26.078035,20744,2019-07-02 10:48:30.560596,38.725425,-76.993242,2019-07-02 10:48:30.560873

## Accounts in PR Query

In [48]:
acct_query = "SELECT datasource_id FROM tags, UNNEST (properties) props WHERE props.key = 'prnumber' AND props.value = '1-IFF3XL'"

pr_result, pr_var = large_query(acct_query, 500)

starting query...
done with 500 out of 521 rows in 44.28 seconds.
running 1 more batches:
running batch 1...
no page token needed.
error (hopefully out of rows to query).

In [53]:
pr_result, pr_var = large_query(acct_query, 500)
pr_result_df = pd.DataFrame(pr_result)
pr_result_df = pr_result_df[[0]]
pr_result_df.columns = ['meters']
pr_result_df = pr_result_df.drop_duplicates()
pr_result_df

                             meters
0     ERCOT_ONCOR_10443720002043653
1    ERCOT_AEPCPL_10032789409884049
2  ERCOT_CPT_1008901024901392150118
3      ERCOT_TNMP_10400519038300001
4     ERCOT_ONCOR_10443720001950770