# INTDB Profile Mapping

    Query current INTDB profiles. Need rate classes & profiles to compare with ESG & Intellometry. Process enhancements needed for rate class parsing, filling in missing profiles, tags, etc. etc.

    How to best use ESG, Intellometry & EWX as datasources?

## Import Modules

    use requirements.txt instead
    set venv on server?

In [4]:
import numpy as np
import datetime as dt
import pandas as pd
import os
import time
import math
import json
import cx_Oracle
base = os.getcwd()

## DB Connection

In [2]:
''' connect to TPINT (or TPPE, LPSS) '''
''' parameters: {'query' : 'str of SQL query'} '''
''' output: {'result_list' : 'list of results returned from query'} '''

def OracleAPI(query):
    
    uid = 'tesi_interface'
    pwd = 'intint88'

    ip = '172.25.152.12'
    port = '1737'
    service_name = 'tpint.mytna.com'
    #dsn = cx_Oracle.makedsn(ip, port, service_name=service_name)
    
    print('querying...')
    
    con = cx_Oracle.connect(uid, pwd, service_name)
    cur = con.cursor()
    cur.execute(query)
    columns = [i[0] for i in cur.description]

    result_list = []
    
    for result in cur:
        result_list.append(result)
        i = len(result_list)
        if (i > 0 and i % 1000 == 0):
            print('done with {}.'.format(i))
    
    print('finished with {} results, outputting dataframe.'. format(len(result_list)))
    result = pd.DataFrame(result_list)
    result.columns = columns
    
    return(result)

## INTDB Query

In [6]:
INTDB = "select * from M_ESG_PC_RC_SOURCE a, m_lpss_pc_rc b where A.SOURCEID = B.ESG_SOURCEID"

In [5]:
other_intdb =  "select * from m_lpss_pc_rc"
other = OracleAPI(other_intdb)
other.head()

querying...
done with 1000.
done with 2000.
done with 3000.
done with 4000.
done with 5000.
done with 6000.
done with 7000.
finished with 7582 results, outputting dataframe.

,ESG_SOURCEID,MARKET,DISCO_CODE,PROFILE_CLASS,RATE_CLASS,METER_TYPE,LOSS_CODE,LOSS_DESCRIPTION,STATE,RES_FLAG,SEQ_ID,DEFAULT_FLAG
0,10001,ERCOT,CPT,None,ERCOT_BUS,IDR,D,SECONDARY,TX,0.0,1,N
1,10002,ERCOT,CPT,None,ERCOT_BUS,IDR,D,SECONDARY,TX,0.0,2,N
2,10003,ERCOT,CPT,None,ERCOT_BUS,IDR,E,PRIMARY,TX,0.0,3,N
3,10004,ERCOT,CPT,None,ERCOT_BUS,IDR,T,TRANSMISSION,TX,0.0,4,N
4,10005,ERCOT,CPT,None,ERCOT_BUS,IDR,D,SECONDARY,TX,0.0,5,Y

In [7]:
intdb_result = OracleAPI(INTDB)

querying...
done with 1000.
done with 2000.
done with 3000.
done with 4000.
done with 5000.
done with 6000.
done with 7000.
finished with 7582 results, outputting dataframe.

In [8]:
intdb_result.head()

,SOURCEID,MARKET,DISCO_CODE,LOAD_PROFILE,RATE_CLASS,ESG_SOURCEID,MARKET,DISCO_CODE,PROFILE_CLASS,RATE_CLASS,METER_TYPE,LOSS_CODE,LOSS_DESCRIPTION,STATE,RES_FLAG,SEQ_ID,DEFAULT_FLAG
0,10001,ERCOT,CPT,None,990,10001,ERCOT,CPT,None,ERCOT_BUS,IDR,D,SECONDARY,TX,0.0,1,N
1,10002,ERCOT,CPT,None,991,10002,ERCOT,CPT,None,ERCOT_BUS,IDR,D,SECONDARY,TX,0.0,2,N
2,10003,ERCOT,CPT,None,992,10003,ERCOT,CPT,None,ERCOT_BUS,IDR,E,PRIMARY,TX,0.0,3,N
3,10004,ERCOT,CPT,None,993,10004,ERCOT,CPT,None,ERCOT_BUS,IDR,T,TRANSMISSION,TX,0.0,4,N
4,10005,ERCOT,CPT,None,994,10005,ERCOT,CPT,None,ERCOT_BUS,IDR,D,SECONDARY,TX,0.0,5,Y

In [7]:
intdb_result.tail()

,SOURCEID,MARKET,DISCO_CODE,LOAD_PROFILE,RATE_CLASS,ESG_SOURCEID,MARKET,DISCO_CODE,PROFILE_CLASS,RATE_CLASS,METER_TYPE,LOSS_CODE,LOSS_DESCRIPTION,STATE,RES_FLAG,SEQ_ID,DEFAULT_FLAG
7577,54549,PJM,APSPA,GSCS,WP-GP30SHD,54549,PJM,APSPA,GSCS_IDR,WP-GP30SHD,IDR,PRIMARY,WP_PRI,PA,0.0,9599,N
7578,54550,PJM,APSPA,GSCS,WP-GP30SHD,54550,PJM,APSPA,GSCS_IDR,WP-GP30SHD,IDR,SUBTRANSMISSION,WP_SUB,PA,0.0,9600,Y
7579,54551,PJM,APSPA,GSCS,WP-GP30SHF,54551,PJM,APSPA,GSCS,WP-GP30SHF,SCALAR,SECONDARY,WP_SEC,PA,0.0,9601,Y
7580,54552,PJM,APSPA,GSCS,WP-GP30SHF,54552,PJM,APSPA,GSCS_IDR,WP-GP30SHF,IDR,SECONDARY,WP_SEC,PA,0.0,9602,Y
7581,54553,PJM,PEPCODC,RDNS,150,54553,PJM,PEPCODC,RDNS,50,IDR,MMA1,None,DC,0.0,9603,Y

## INTDB Results

    Want to find missing profiles, differences between ESG and INTDB, places with large # parsing errors.

In [8]:
intdb = intdb_result[['SOURCEID', 'MARKET', 'DISCO_CODE', 'LOAD_PROFILE', 'RATE_CLASS']]
intdb.head()

,SOURCEID,MARKET,MARKET,DISCO_CODE,DISCO_CODE,LOAD_PROFILE,RATE_CLASS,RATE_CLASS
0,10001,ERCOT,ERCOT,CPT,CPT,None,990,ERCOT_BUS
1,10002,ERCOT,ERCOT,CPT,CPT,None,991,ERCOT_BUS
2,10003,ERCOT,ERCOT,CPT,CPT,None,992,ERCOT_BUS
3,10004,ERCOT,ERCOT,CPT,CPT,None,993,ERCOT_BUS
4,10005,ERCOT,ERCOT,CPT,CPT,None,994,ERCOT_BUS

In [9]:
intdb.shape

(7582, 8)

# ALPS Missing Mappings

In [10]:
alps = pd.read_csv('ALPS_PARSER_MISSING_MAPS.csv')
alps.head()

,UID_MAP,CREATED_USER,CREATED_DT,UPDATED_USER,UPDATED_DT,MARKET_CODE,DISCO_CODE,ZONE,RATE,PROFILE,...,METER_TYPE,STRATA,OUT_ZONE,OUT_RATE,OUT_PROFILE,OUT_VOLTAGE,OUT_METER_TYPE,OUT_STRATA,OUT_IGNORE_FLG,COMMENTS
0,"1,130,355",TESI_INTERFACE,08/29/2016 11:43:44,TESI_INTERFACE,06/06/2017 10:35:10,NEPOOL,COMELEC,SEMA,R-5,NaN,...,NaN,NaN,SEMA,R5,R1,SECONDARY,NaN,NaN,N,SERNA_USGH_20170601_133012_R143490112_USGH_USG...
1,"1,131,086",TESI_INTERFACE,08/30/2016 07:06:20,TESI_INTERFACE,06/04/2017 12:36:55,PJM,ATSITE,FEOHIOTE,TE-POLSD,SL,...,NaN,NaN,FEOHIOTE,TE-POLSD,SL,NaN,NaN,NaN,N,SERNA_USGH_20170604_131356_R143638625_USGH_USG...
2,"1,131,109",TESI_INTERFACE,08/30/2016 07:14:19,TESI_INTERFACE,04/20/2017 07:31:10,PJM,ATSITE,FEOHIOTE,TE-GTD,C1,...,NaN,NaN,FEOHIOTE,TE-GTD,C1,NaN,NaN,NaN,N,SERNA_USGH_20170420_074801_R140919998_USGH_USG...
3,"1,131,300",TESI_INTERFACE,08/30/2016 08:14:13,TESI_INTERFACE,03/15/2017 08:26:51,PJM,DPL,DPL,USGSSPHTG,MDDGS,...,NaN,NaN,DPL,USGSSPHTG,MDDGS,SECONDARY_120_480V,NaN,NaN,N,SERNA_USGH_20170314_091525_R138696040_USGH_USG...
4,"1,131,301",TESI_INTERFACE,08/30/2016 08:14:13,TESI_INTERFACE,06/02/2017 10:04:48,PJM,PEPCODC,PEPCODC,180,DCND,...,NaN,NaN,PEPCODC,80,DCND,GSLV,NaN,NaN,N,SERNA_USGH_20170602_101419_R143559487_USGH_USG...

In [11]:
alps

,UID_MAP,CREATED_USER,CREATED_DT,UPDATED_USER,UPDATED_DT,MARKET_CODE,DISCO_CODE,ZONE,RATE,PROFILE,...,METER_TYPE,STRATA,OUT_ZONE,OUT_RATE,OUT_PROFILE,OUT_VOLTAGE,OUT_METER_TYPE,OUT_STRATA,OUT_IGNORE_FLG,COMMENTS
0,"1,130,355",TESI_INTERFACE,08/29/2016 11:43:44,TESI_INTERFACE,06/06/2017 10:35:10,NEPOOL,COMELEC,SEMA,R-5,NaN,...,NaN,NaN,SEMA,R5,R1,SECONDARY,NaN,NaN,N,SERNA_USGH_20170601_133012_R143490112_USGH_USG...
1,"1,131,086",TESI_INTERFACE,08/30/2016 07:06:20,TESI_INTERFACE,06/04/2017 12:36:55,PJM,ATSITE,FEOHIOTE,TE-POLSD,SL,...,NaN,NaN,FEOHIOTE,TE-POLSD,SL,NaN,NaN,NaN,N,SERNA_USGH_20170604_131356_R143638625_USGH_USG...
2,"1,131,109",TESI_INTERFACE,08/30/2016 07:14:19,TESI_INTERFACE,04/20/2017 07:31:10,PJM,ATSITE,FEOHIOTE,TE-GTD,C1,...,NaN,NaN,FEOHIOTE,TE-GTD,C1,NaN,NaN,NaN,N,SERNA_USGH_20170420_074801_R140919998_USGH_USG...
3,"1,131,300",TESI_INTERFACE,08/30/2016 08:14:13,TESI_INTERFACE,03/15/2017 08:26:51,PJM,DPL,DPL,USGSSPHTG,MDDGS,...,NaN,NaN,DPL,USGSSPHTG,MDDGS,SECONDARY_120_480V,NaN,NaN,N,SERNA_USGH_20170314_091525_R138696040_USGH_USG...
4,"1,131,301",TESI_INTERFACE,08/30/2016 08:14:13,TESI_INTERFACE,06/02/2017 10:04:48,PJM,PEPCODC,PEPCODC,180,DCND,...,NaN,NaN,PEPCODC,80,DCND,GSLV,NaN,NaN,N,SERNA_USGH_20170602_101419_R143559487_USGH_USG...
5,"1,131,302",TESI_INTERFACE,08/30/2016 08:14:13,TESI_INTERFACE,04/07/2017 09:04:11,PJM,DPL,DPL,DMEL_OL,MDDOL,...,NaN,NaN,DPL,DMEL_OL,MDDOL,NaN,NaN,NaN,N,SERNA_USGH_20170407_093510_R140167172_USHI_USG...
6,"1,131,303",TESI_INTERFACE,08/30/2016 08:14:13,TESI_INTERFACE,03/04/2017 08:46:22,PJM,DPL,DPL,UGSPTOU,MDDGP,...,NaN,NaN,DPL,UGSPTOU,MDDGP,NaN,NaN,NaN,N,SERNA_USGH_20170304_090014_R138147247_USHI_USG...
7,"1,131,353",TESI_INTERFACE,08/30/2016 08:59:42,TESI_INTERFACE,05/22/2017 16:14:21,PJM,AEPOP,AEPOP,900,CCOPSLTA,...,NaN,NaN,AEPOP,900,CCOPSLTA,NaN,NaN,NaN,N,SERNA_USGH_20170522_165539_R142882940_USGH_USG...
8,"1,131,354",TESI_INTERFACE,08/30/2016 08:59:42,TESI_INTERFACE,05/22/2017 16:14:21,PJM,AEPOP,AEPOP,901,CCOPSLTA,...,NaN,NaN,AEPOP,901,CCOPSLTA,NaN,NaN,NaN,N,SERNA_USGH_20170522_165539_R142882940_USGH_USG...
9,"1,131,449",TESI_INTERFACE,08/30/2016 09:43:47,TESI_INTERFACE,03/18/2017 10:50:00,MISO,AMERENIP,AMILSZE,DS5,LITE,...,NaN,NaN,AMILSZE,DS5,LITE,NaN,NaN,NaN,N,SERNA_USGH_20170318_102438_R138978619_USHI_USG...
10,"1,131,450",TESI_INTERFACE,08/30/2016 09:43:47,TESI_INTERFACE,06/12/2019 14:28:48,MISO,AMERENIP,AMILSZE,DS2,DS2HH-,...,NaN,NaN,AMILSZE,DS2,DS2HH-,NaN,NaN,NaN,N,SERNA_USGH_20160702_101717_R124157854_USGH_USG...
11,"1,131,790",TESI_INTERFACE,08/30/2016 13:44:35,TESI_INTERFACE,10/24/2018 17:27:56,NEPOOL,CLP,CONNECTICUT,030,NaN,...,NaN,NaN,CONNECTICUT,030,NaN,NaN,NaN,NaN,N,SERNA_USGH_20180601_141150_R165565733_USGH_USG...
12,"1,131,861",TESI_INTERFACE,08/30/2016 14:05:47,TESI_INTERFACE,08/30/2016 14:05:47,PJM,AEPCS,AEPCS,850,IDR,...,NaN,NaN,AEPCS,850,IDR,SECONDARY,NaN,NaN,N,GS_1-6Q21Z9_OHIO DEPARTMENT OF NATURAL RESOURC...
13,"1,131,862",TESI_INTERFACE,08/30/2016 14:05:47,TESI_INTERFACE,08/30/2016 14:05:47,PJM,AEPCS,AEPCS,840,IDR,...,NaN,NaN,AEPCS,840,IDR,SECONDARY,NaN,NaN,N,GS_1-6Q21Z9_OHIO DEPARTMENT OF NATURAL RESOURC...
14,"1,131,881",TESI_INTERFACE,08/30/2016 14:41:39,TESI_INTERFACE,06/01/2017 13:50:40,PJM,BGE,NaN,INTERVAL GL,165,...,NaN,NaN,BGE,INTERVAL GL,165,NaN,NaN,NaN,N,SCA_BGE_0167102624_1-FDTX0P_1_20170601_120411_...
15,"1,132,350",TESI_INTERFACE,08/30/2016 16:44:41,TESI_INTERFACE,05/08/2017 13:38:43,NYISO,RGE,GEN,RED0100E00,NaN,...,NaN,NaN,B,RED0100E00,NaN,SE,NaN,NaN,N,SCA_RGE_14_1-FB0K04_1_05_08_2017_13_30_54.txt
16,"1,132,351",TESI_INTERFACE,08/30/2016 16:44:41,TESI_INTERFACE,05/08/2017 13:38:43,NYISO,RGE,GEN,RED0420E00,NaN,...,NaN,NaN,B,RED0420E00,NaN,SE,NaN,NaN,N,SCA_RGE_14_1-FB0K04_1_05_08_2017_13_30_54.txt
17,"1,132,352",TESI_INTERFACE,08/30/2016 16:44:41,TESI_INTERFACE,05/04/2017 17:03:53,NYISO,RGE,GEN,RED0100V00,NaN,...,NaN,NaN,B,RED0100V00,NaN,SE,NaN,NaN,N,SCA_RGE_27_1-FAF3GC_1_05_04_2017_16_51_03.txt
18,"1,134,498",TESI_INTERFACE,09/01/2016 11:41:56,TESI_INTERFACE,09/01/2016 11:41:56,ERCOT,ONCOR,NaN,R8,NMLIGHT_EAST_NIDR_NWS_NOTOU,...,NaN,NaN,NaN,ERCOT_NM,NMLIGHT_EAST,A,NaN,NaN,N,B6S7MV9_1_FUMC UsageData.xlsx
19,"1,136,452",TESI_INTERFACE,09/02/2016 10:05:47,TESI_INTERFACE,09/02/2016 12:17:42,MISO,AMEREN,NaN,DS3,IDR,...,NaN,NaN,NaN,DS3,IDR,secondary,NaN,NaN,N,AMEREN_ALEX_new.xls
20,"1,136,453",TESI_INTERFACE,09/02/2016 10:05:47,TESI_INTERFACE,09/02/2016 12:17:42,PJM,AMEREN,NaN,DS3,IDR,...,NaN,NaN,NaN,DS3,IDR,secondary,NaN,NaN,N,AMEREN_ALEX_new.xls
21,"1,136,458",TESI_INTERFACE,09/02/2016 10:06:30,TESI_INTERFACE,06/06/2017 12:08:44,PJM,DQE,DQE,GMG-MC,GSGM,...,NaN,NaN,DQE,GMG-MC,GSGM,GSGM,NaN,NaN,N,GS_1-6BMB8Q_W.J. BEITLER CO_Proxy usage.xlsx
22,"1,136,594",TESI_INTERFACE,09/02/2016 11:33:18,TESI_INTERFACE,05/12/2017 02:47:58,PJM,DAYTON,DAYTON,757,ISS1,...,NaN,NaN,DAYTON,757,ISS1,NaN,NaN,NaN,N,SERNA_USGH_20170512_032138_R142307125_USGH_USG...
23,"1,136,595",TESI_INTERFACE,09/02/2016 11:33:18,TESI_INTERFACE,05/31/2017 11:47:56,PJM,DAYTON,DAYTON,787,IPR1,...,NaN,NaN,DAYTON,787,IPR1,NaN,NaN,NaN,N,SERNA_USGH_20170531_033404_R143365159_USGH_USG...
24,"1,138,571",TESI_INTERFACE,09/06/2016 08:41:42,TESI_INTERFACE,09/06/2016 08:41:42,ERCOT,CENTERPOINT,HOUSTON,ERCOT_BUS,BUSLOLF_HOUSTON,...,NaN,NaN,HOUSTON,ERCOT_BUS,BUSLOLF_HOUSTON,A,NaN,NaN,N,B6T2B27_1_LOAD TEMPLATE - ALL AMERCICAN EVENTS...
25,"1,138,783",TESI_INTERFACE,09/06/2016 11:08:48,TESI_INTERFACE,09/06/2016 11:08:48,NEPOOL,CLP,CONNECTICUT,NaN,NaN,...,NaN,NaN,CONNECTICUT,00,SM_GS,SECONDARY,NaN,NaN,N,B6T35Y6_1_NEW SAMARITAN GS.xlsx
26,"1,139,828",TESI_INTERFACE,09/06/2016 20:22:35,TESI_INTERFACE,06/06/2017 03:35:42,NYISO,NIMO,NaN,SC1,NaN,...,NaN,NaN,NaN,SC1,SC1_RES_STND,SECONDARY,NaN,NaN,N,SERNA_USGH_20170606_032254_R143719606_USGH_USG...
27,"1,190,147",TESI_INTERFACE,09/28/2016 08:15:13,TESI_INTERFACE,05/25/2017 14:23:33,PJM,DPLDE,DPLDE,UGSWTRHTG,DEDGS,...,NaN,NaN,DPLDE,UGSWTRHTG,DEDGS,NaN,NaN,NaN,N,SERNA_USGH_20170112_100658_R135168111_USGH_USG...
28,"1,190,148",TESI_INTERFACE,09/28/2016 08:15:13,TESI_INTERFACE,05/25/2017 14:23:33,PJM,PEPCO,PEPCO,250,RMSH,...,NaN,NaN,PEPCO,250,RMSH,NaN,NaN,NaN,N,SERNA_USGH_20170112_100658_R135168111_USGH_USG...
29,"1,190,149",TESI_INTERFACE,09/28/2016 08:15:13,TESI_INTERFACE,05/25/2017 14:23:33,PJM,PEPCO,PEPCO,250,RMNS,...,NaN,NaN,PEPCO,250,RMNS,NaN,NaN,NaN,N,SERNA_USGH_20170112_100658_R135168111_USGH_USG...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1483,"1,152,199",TESI_INTERFACE,09/09/2016 09:56:53,TESI_INTERFACE,09/09/2016 09:56:53,PJM,METED,METED,RS,MRTHT,...,NaN,NaN,METED,RS,MRTHT,SECONDARY,NaN,NaN,N,INTERNAL_REQUEST_RENEWAL_20160909_095501_1-5YA...
1484,"1,153,781",TESI_INTERFACE,09/09/2016 15:02:43,TESI_INTERFACE,09/10/2016 13:44:42,ERCOT,AEPWTU,WEST,ERCOT_BUS,NMLIGHT_WEST_NIDR_NWS_NOTOU,...,NaN,NaN,WEST,ERCOT_BUS,NMLIGHT_WEST_NIDR_NWS_NOTOU,A,NaN,NaN,N,GS_AEPWTU_10204049703156403.xls
1485,"1,153,782",TESI_INTERFACE,09/09/2016 15:02:43,TESI_INTERFACE,09/10/2016 13:44:42,ERCOT,AEPWTU,WEST,ERCOT_BUS,BUSNODEM_WEST_IDR_WS_NOTOU,...,NaN,NaN,WEST,ERCOT_BUS,BUSNODEM_WEST_IDR_WS_NOTOU,A,NaN,NaN,N,GS_AEPWTU_10204049703156403.xls
1486,"1,153,783",TESI_INTERFACE,09/09/2016 15:02:43,TESI_INTERFACE,10/03/2016 11:05:45,ERCOT,AEPWTU,WEST,ERCOT_BUS,BUSLOLF_WEST_IDR_WS_NOTOU,...,NaN,NaN,WEST,ERCOT_BUS,BUSLOLF_WEST_IDR_WS_NOTOU,A,NaN,NaN,N,GS_AEPWTU_10204049767461560.xls
1487,"1,155,776",TESI_INTERFACE,09/10/2016 13:17:42,TESI_INTERFACE,05/30/2017 14:26:58,ERCOT,CPT,HOUSTON,ERCOT_BUS,BUSIDRRQ_COAST_IDR_NWS_NOTOU,...,NaN,NaN,HOUSTON,ERCOT_BUS,BUSIDRRQ_COAST_IDR_NWS_NOTOU,D,NaN,NaN,N,GS_AEPCPL_10032789416428620.xls
1488,"1,155,823",TESI_INTERFACE,09/10/2016 13:44:42,TESI_INTERFACE,09/10/2016 13:44:42,ERCOT,AEPWTU,WEST,ERCOT_BUS,BUSIDRRQ_WEST_IDR_NWS_NOTOU,...,NaN,NaN,WEST,ERCOT_BUS,BUSIDRRQ_WEST_IDR_NWS_NOTOU,A,NaN,NaN,N,GS_AEPWTU_10204049703156403.xls
1489,"1,155,824",TESI_INTERFACE,09/10/2016 13:44:42,TESI_INTERFACE,09/10/2016 13:44:42,ERCOT,AEPWTU,WEST,ERCOT_BUS,BUSIDRRQ_WEST_IDR_WS_NOTOU,...,NaN,NaN,WEST,ERCOT_BUS,BUSIDRRQ_WEST_IDR_WS_NOTOU,A,NaN,NaN,N,GS_AEPWTU_10204049703156403.xls
1490,"1,158,081",TESI_INTERFACE,09/13/2016 08:14:05,TESI_INTERFACE,03/08/2017 15:17:11,NEPOOL,NHECO,NEWHAMPSHIRE,PX,NaN,...,NaN,NaN,NEWHAMPSHIRE,PX,NaN,NaN,NaN,NaN,N,SERNA_USGH_20170308_160123_R138389537_USGH_USG...
1491,"1,158,082",TESI_INTERFACE,09/13/2016 08:14:05,TESI_INTERFACE,09/13/2016 08:14:05,NEPOOL,NHECO,NEWHAMPSHIRE,LT13X,NaN,...,NaN,NaN,NEWHAMPSHIRE,LT13X,NaN,NaN,NaN,NaN,N,SERNA_USGH_20160913_090242_R128228042_USGH_USG...
1492,"1,158,086",TESI_INTERFACE,09/13/2016 08:14:35,TESI_INTERFACE,02/15/2017 09:58:25,PJM,AECO,AECO,AGSSECONDH,NJAAS,...,NaN,NaN,AECO,AGSSECONDH,NJAAS,SECONDARY,NaN,NaN,N,SERNA_USGH_20170215_095028_R137119843_USGH_USG...
1493,"1,158,109",TESI_INTERFACE,09/13/2016 08:20:43,TESI_INTERFACE,09/13/2016 12:32:43,MISO,AMERENCILCO,NaN,DS2,DS2LL-,...,NaN,NaN,NaN,DS2,DS2LL-,SECONDARY,NaN,NaN,N,GENSCA_1-6SEQ6X_5.xls
1494,"1,161,753",TESI_INTERFACE,09/14/2016 07:43:44,TESI_INTERFACE,05/25/2017 14:23:33,PJM,AECO,AECO,MGSSECOND,NJAAS,...,NaN,NaN,AECO,MGSSECOND,NJAAS,NaN,NaN,NaN,N,SERNA_USGH_20170112_100658_R135168111_USGH_USG...
1495,"1,161,754",TESI_INTERFACE,09/14/2016 07:43:44,TESI_INTERFACE,04/23/2017 10:22:34,PJM,DPL,DPL,USGSCONOWINGO,MDDGS,...,NaN,NaN,DPL,USGSCONOWINGO,MDDGS,NaN,NaN,NaN,N,SERNA_USGH_20170422_130556_R141074708_USGH_USG...
1496,"1,161,808",TESI_INTERFACE,09/14/2016 09:41:44,TESI_INTERFACE,11/11/2016 13:23:44,MISO,AMERENCIPS,NaN,DS3,IDR,...,NaN,NaN,NaN,DS3,IDR,SECONDARY,NaN,NaN,N,GENSCALAR_3756000013_22800883.xls
1497,"1,170,670",TESI_INTERFACE,09/18/2016 17:43:49,TESI_INTERFACE,04/18/2017 07:10:28,PJM,ATSIOE,FEOHIOOE,OE-ESIPCF,SL,...,NaN,NaN,FEOHIOOE,OE-ESIPCF,SL,NaN,NaN,NaN,N,SERNA_USGH_20170418_074827_R140753186_USGH_USG...
1498,"1,170,671",TESI_INTERFACE,09/18/2016 17:43:49,TESI_INTERFACE,01/12/2017 21:30:40,PJM,ATSITE,FEOHIOTE,TE-GPD,CG,...,NaN,NaN,FEOHIOTE,TE-GPD,CG,NaN,NaN,NaN,N,SERNA_USGH_20170112_103233_R135169335_USGH.TXT
1499,"1,170,672",TESI_INTERFACE,09/18/2016 17:43:49,TESI_INTERFACE,04/18/2017 08:16:58,PJM,ATSIOE,FEOHIOOE,OE-GSF,SL,...,NaN,NaN,FEOHIOOE,OE-GSF,SL,NaN,NaN,NaN,N,SERNA_USGH_20170418_074310_R140752986_USGH_USG...
1500,"1,170,742",TESI_INTERFACE,09/18/2016 17:45:14,TESI_INTERFACE,02/22/2017 06:47:49,PJM,ATSIOE,FEOHIOOE,OE-GSD,SL,...,NaN,NaN,FEOHIOOE,OE-GSD,SL,NaN,NaN,NaN,N,SERNA_USGH_20170222_072101_R137484147_USGH_USG...
1501,"1,170,789",TESI_INTERFACE,09/18/2016 17:58:41,TESI_INTERFACE,02/16/2017 06:33:45,PJM,METED,METED,ME-TPD,TPC,...,NaN,NaN,METED,ME-TPD,TPC,NaN,NaN,NaN,N,SERNA_USGH_20170216_071316_R137184149_USGH_USG...
1502,"1,170,790",TESI_INTERFACE,09/18/2016 17:58:41,TESI_INTERFACE,03/05/2017 17:06:55,PJM,METED,METED,ME-POLD,OLM,...,NaN,NaN,METED,ME-POLD,OLM,NaN,NaN,NaN,N,SERNA_USGH_20170305_172733_R138166250_USGH_USG...
1503,"1,170,801",TESI_INTERFACE,09/18/2016 17:59:11,TESI_INTERFACE,02/22/2017 07:00:34,PJM,ATSIPP,PENNPOWER,PP-GMD,RG,...,NaN,NaN,PENNPOWER,PP-GMD,RG,NaN,NaN,NaN,N,SERNA_USGH_20170222_072732_R137484712_USGH_USG...
1504,"1,427,795",TESI_INTERFACE,01/17/2017 07:06:44,TESI_INTERFACE,01/17/2017 07:06:44,PJM,METED,METED,ME-GSLF,GSTI,...,NaN,NaN,METED,ME-GSLF,GSTI,NaN,NaN,NaN,N,SERNA_USGH_20170117_073524_R135378343_USGH_USG...
1505,"1,150,926",TESI_INTERFACE,09/08/2016 18:35:38,TESI_INTERFACE,09/08/2016 18:35:38,PJM,BGE,NaN,RL,44,...,NaN,NaN,BGE,RL,44,NaN,NaN,NaN,N,SCA_BGE_3_E6TS3D7_1_20160908_192559_09_08_2016...
1506,"1,155,143",TESI_INTERFACE,09/09/2016 22:30:40,TESI_INTERFACE,01/31/2017 14:46:15,PJM,RECO,RECO,Y6D,NaN,...,NaN,NaN,RECO,NaN,NaN,NaN,NaN,NaN,N,SERNA_USGH_20170111_230504_R135140098_USGH_USG...
1507,"1,227,874",TESI_INTERFACE,10/19/2016 06:59:16,TESI_INTERFACE,02/10/2017 14:49:14,PJM,ATSIOE,FEOHIOOE,OE-GSF,RS,...,NaN,NaN,FEOHIOOE,OE-GSF,RS,NaN,NaN,NaN,N,SERNA_USGH_20170210_152602_R136885389_USGH_USG...
1508,"1,239,222",TESI_INTERFACE,10/26/2016 18:26:48,TESI_INTERFACE,10/27/2016 10:02:45,PJM,DAYTON,DAYTON,727,SS01,...,NaN,NaN,DAYTON,727,SS01,SECONDARY,NaN,NaN,N,B7BUWAY_1_GS_ 20161026_POH.xlsx
1509,"1,239,236",TESI_INTERFACE,10/26/2016 19:05:47,TESI_INTERFACE,10/26/2016 19:05:47,PJM,DAYTON,DAYTON,727,SS02,...,NaN,NaN,DAYTON,727,SS02,SECONDARY,NaN,NaN,N,B7BUWAY_1_GS_ 20161026_POH.xlsx
1510,"1,788,049",TESI_INTERFACE,01/10/2019 10:49:52,TESI_INTERFACE,01/23/2019 14:47:47,PJM,AEPCS,AEPCS,830,CCOHNONA,...,NaN,NaN,AEPCS,830,CCOHNONA,SECONDARY,NaN,NaN,N,GS_AEP_IRISPROFILE_2019.xls
1511,"1,788,050",TESI_INTERFACE,01/10/2019 10:49:52,TESI_INTERFACE,01/10/2019 10:49:52,PJM,AEPOP,AEPOP,830,CCOHNONA,...,NaN,NaN,AEPOP,830,CCOHNONA,SECONDARY,NaN,NaN,N,GSOutput1547138535936.xls
1512,"1,148,751",TESI_INTERFACE,09/08/2016 02:43:58,TESI_INTERFACE,05/18/2017 02:44:37,PJM,DAYTON,DAYTON,787,IPR2,...,NaN,NaN,DAYTON,787,IPR2,NaN,NaN,NaN,N,SERNA_USGH_20170518_032504_R142654998_USGH_USG...

In [12]:
alps.shape

(1513, 21)

# Compare ALPS vs INTDB

    group data by (market, disco)

In [9]:
other['GROUP'] = list(zip(other['MARKET'], other['DISCO_CODE'], other['RATE_CLASS']))

In [14]:
alps['GROUP'] = list(zip(alps['MARKET_CODE'], alps['DISCO_CODE'], alps['RATE']))

In [10]:
other['GROUP'].head()

0    (ERCOT, CPT, ERCOT_BUS)
1    (ERCOT, CPT, ERCOT_BUS)
2    (ERCOT, CPT, ERCOT_BUS)
3    (ERCOT, CPT, ERCOT_BUS)
4    (ERCOT, CPT, ERCOT_BUS)
Name: GROUP, dtype: object

In [32]:
intdb_result['INTEL_GROUP'] = list(zip(intdb_result['DISCO_CODE'], intdb_result['LOAD_PROFILE'], intdb_result['RATE_CLASS']))

ValueError: Length of values does not match length of index

In [16]:
common = pd.merge(other, alps['GROUP'], how = 'inner', on = 'GROUP')
common.drop_duplicates(keep = 'first',inplace = True)
common.reset_index(drop = True, inplace = True)

## Find common (market, disco, rate)

In [17]:
common

,ESG_SOURCEID,MARKET,DISCO_CODE,PROFILE_CLASS,RATE_CLASS,METER_TYPE,LOSS_CODE,LOSS_DESCRIPTION,STATE,RES_FLAG,SEQ_ID,DEFAULT_FLAG,GROUP
0,10001,ERCOT,CPT,None,ERCOT_BUS,IDR,D,SECONDARY,TX,0.0,1,N,"(ERCOT, CPT, ERCOT_BUS)"
1,10002,ERCOT,CPT,None,ERCOT_BUS,IDR,D,SECONDARY,TX,0.0,2,N,"(ERCOT, CPT, ERCOT_BUS)"
2,10003,ERCOT,CPT,None,ERCOT_BUS,IDR,E,PRIMARY,TX,0.0,3,N,"(ERCOT, CPT, ERCOT_BUS)"
3,10004,ERCOT,CPT,None,ERCOT_BUS,IDR,T,TRANSMISSION,TX,0.0,4,N,"(ERCOT, CPT, ERCOT_BUS)"
4,10005,ERCOT,CPT,None,ERCOT_BUS,IDR,D,SECONDARY,TX,0.0,5,Y,"(ERCOT, CPT, ERCOT_BUS)"
5,10006,ERCOT,CPT,None,ERCOT_BUS,IDR,D,SECONDARY,TX,0.0,6,Y,"(ERCOT, CPT, ERCOT_BUS)"
6,10007,ERCOT,CPT,None,ERCOT_BUS,IDR,E,PRIMARY,TX,0.0,7,Y,"(ERCOT, CPT, ERCOT_BUS)"
7,10008,ERCOT,CPT,None,ERCOT_BUS,IDR,T,TRANSMISSION,TX,0.0,8,Y,"(ERCOT, CPT, ERCOT_BUS)"
8,10009,ERCOT,CPT,None,ERCOT_BUS,IDR,D,SECONDARY,TX,0.0,9,N,"(ERCOT, CPT, ERCOT_BUS)"
9,10010,ERCOT,CPT,None,ERCOT_BUS,IDR,D,SECONDARY,TX,0.0,10,N,"(ERCOT, CPT, ERCOT_BUS)"
10,10011,ERCOT,CPT,None,ERCOT_BUS,IDR,E,PRIMARY,TX,0.0,11,Y,"(ERCOT, CPT, ERCOT_BUS)"
11,10062,ERCOT,CPT,None,ERCOT_BUS,SCALAR,D,SECONDARY,TX,0.0,62,Y,"(ERCOT, CPT, ERCOT_BUS)"
12,10063,ERCOT,CPT,None,ERCOT_BUS,SCALAR,D,SECONDARY,TX,0.0,63,Y,"(ERCOT, CPT, ERCOT_BUS)"
13,10064,ERCOT,CPT,None,ERCOT_BUS,SCALAR,D,SECONDARY,TX,0.0,64,Y,"(ERCOT, CPT, ERCOT_BUS)"
14,10065,ERCOT,CPT,None,ERCOT_BUS,SCALAR,D,SECONDARY,TX,0.0,65,Y,"(ERCOT, CPT, ERCOT_BUS)"
15,10066,ERCOT,CPT,None,ERCOT_BUS,SCALAR,D,SECONDARY,TX,0.0,66,Y,"(ERCOT, CPT, ERCOT_BUS)"
16,10067,ERCOT,CPT,None,ERCOT_BUS,SCALAR,D,SECONDARY,TX,0.0,67,Y,"(ERCOT, CPT, ERCOT_BUS)"
17,10068,ERCOT,CPT,None,ERCOT_BUS,SCALAR,D,SECONDARY,TX,0.0,68,Y,"(ERCOT, CPT, ERCOT_BUS)"
18,10069,ERCOT,CPT,None,ERCOT_BUS,SCALAR,D,SECONDARY,TX,0.0,69,Y,"(ERCOT, CPT, ERCOT_BUS)"
19,10070,ERCOT,CPT,None,ERCOT_BUS,SCALAR,D,SECONDARY,TX,0.0,70,Y,"(ERCOT, CPT, ERCOT_BUS)"
20,10071,ERCOT,CPT,None,ERCOT_BUS,SCALAR,D,SECONDARY,TX,0.0,71,Y,"(ERCOT, CPT, ERCOT_BUS)"
21,10072,ERCOT,CPT,None,ERCOT_BUS,SCALAR,D,SECONDARY,TX,0.0,72,Y,"(ERCOT, CPT, ERCOT_BUS)"
22,10073,ERCOT,CPT,None,ERCOT_BUS,SCALAR,D,SECONDARY,TX,0.0,73,Y,"(ERCOT, CPT, ERCOT_BUS)"
23,10074,ERCOT,CPT,None,ERCOT_BUS,SCALAR,D,SECONDARY,TX,0.0,74,Y,"(ERCOT, CPT, ERCOT_BUS)"
24,10075,ERCOT,CPT,None,ERCOT_BUS,SCALAR,D,SECONDARY,TX,0.0,75,Y,"(ERCOT, CPT, ERCOT_BUS)"
25,10076,ERCOT,CPT,None,ERCOT_BUS,SCALAR,D,SECONDARY,TX,0.0,76,Y,"(ERCOT, CPT, ERCOT_BUS)"
26,10077,ERCOT,CPT,None,ERCOT_BUS,SCALAR,D,SECONDARY,TX,0.0,77,Y,"(ERCOT, CPT, ERCOT_BUS)"
27,10078,ERCOT,CPT,None,ERCOT_BUS,SCALAR,D,SECONDARY,TX,0.0,78,Y,"(ERCOT, CPT, ERCOT_BUS)"
28,10079,ERCOT,CPT,None,ERCOT_BUS,SCALAR,D,SECONDARY,TX,0.0,79,Y,"(ERCOT, CPT, ERCOT_BUS)"
29,10080,ERCOT,CPT,None,ERCOT_BUS,SCALAR,E,PRIMARY,TX,0.0,80,Y,"(ERCOT, CPT, ERCOT_BUS)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2153,53518,NYISO,ORU,T301-RC301-5-5,301,SCALAR,SECONDARY,None,NY,1.0,8568,Y,"(NYISO, ORU, 301)"
2154,53520,NEPOOL,WMECO,24,24,SCALAR,SMSEC,None,MA,0.0,8570,Y,"(NEPOOL, WMECO, 24)"
2155,53521,NEPOOL,WMECO,24,23,SCALAR,SMSEC,None,MA,0.0,8571,Y,"(NEPOOL, WMECO, 23)"
2156,54023,PJM,PPL,IDR,MT1,IDR,TRANSMISSION,TRANSMISSION,PA,0.0,9073,Y,"(PJM, PPL, MT1)"
2157,54029,PJM,AEPOP,CCOHFLAT,777,SCALAR,SECONDARY,None,OH,0.0,9079,Y,"(PJM, AEPOP, 777)"
2158,54032,PJM,AEPCS,CCOHDMPU,771,IDR,PRIMARY,None,OH,0.0,9082,Y,"(PJM, AEPCS, 771)"
2159,54034,PJM,AEPCS,CCOHDMPU,773,IDR,PRIMARY,None,OH,0.0,9084,Y,"(PJM, AEPCS, 773)"
2160,54044,PJM,AEPOP,CCOHDM2U,860,SCALAR,SECONDARY,None,OH,0.0,9094,Y,"(PJM, AEPOP, 860)"
2161,54092,PJM,AEPOP,CCOHDMTU,866,SCALAR,TRANSMISSION,None,OH,0.0,9142,N,"(PJM, AEPOP, 866)"
2162,54106,PJM,AEPOP,CCOH_IDR,866,IDR,TRANSMISSION,None,OH,0.0,9156,Y,"(PJM, AEPOP, 866)"
2163,54111,PJM,AEPCS,CCOHDMTU,864,SCALAR,TRANSMISSION,None,OH,0.0,9161,N,"(PJM, AEPCS, 864)"
2164,54120,PJM,AEPCS,CCOH_IDR,864,IDR,TRANSMISSION,None,OH,0.0,9170,Y,"(PJM, AEPCS, 864)"
2165,54184,NEPOOL,NRI,C06,C08,SCALAR,SMSEC,Secondary Voltage,RI,0.0,9234,Y,"(NEPOOL, NRI, C08)"
2166,54186,NEPOOL,PSNH,R,LCS,SCALAR,R,Residential,NH,100.0,9236,Y,"(NEPOOL, PSNH, LCS)"
2167,54187,NEPOOL,PSNH,G,LCS,SCALAR,G,Small Commercial < 100KW,NH,0.0,9237,Y,"(NEPOOL, PSNH, LCS)"
2168,54188,NEPOOL,PSNH,R_IDR,LCS,IDR,R,Residential,NH,100.0,9238,N,"(NEPOOL, PSNH, LCS)"
2169,54194,PJM,PEPCO,RMNS,250,SCALAR,R,None,MD,100.0,9244,Y,"(PJM, PEPCO, 250)"
2170,54196,PJM,PEPCO,RMSH,250,SCALAR,R,None,MD,100.0,9246,Y,"(PJM, PEPCO, 250)"
2171,54195,PJM,PEPCO,RMNS,350,SCALAR,R,None,MD,100.0,9245,Y,"(PJM, PEPCO, 350)"
2172,54197,PJM,PEPCO,RMSH,350,SCALAR,R,None,MD,100.0,9247,Y,"(PJM, PEPCO, 350)"
2173,54445,PJM,DQE,DQE_IDR,GMG-MICH,IDR,GSGM,None,PA,0.0,9495,Y,"(PJM, DQE, GMG-MICH)"
2174,54446,PJM,DQE,GSGM,GMG-MICH,SCALAR,GSGM,None,PA,0.0,9496,N,"(PJM, DQE, GMG-MICH)"
2175,54447,PJM,APS,GSCM_IDR,PE-PH2F,IDR,SECONDARY,PE_SEC,MD,0.0,9497,Y,"(PJM, APS, PE-PH2F)"
2176,54448,PJM,DQE,GMOVER25KWH,GMG2MC,SCALAR,GSGM,None,PA,0.0,9498,Y,"(PJM, DQE, GMG2MC)"
2177,54451,PJM,DQE,GMOVER25KWH,GMG2MI,SCALAR,GSGM,None,PA,0.0,9501,Y,"(PJM, DQE, GMG2MI)"
2178,54452,PJM,DQE,GMOVER25KWH,GMGHMC,SCALAR,GSGM,None,PA,0.0,9502,Y,"(PJM, DQE, GMGHMC)"
2179,54455,PJM,DQE,GMOVER25KWH,GMGHMI,SCALAR,GSGM,None,PA,0.0,9505,Y,"(PJM, DQE, GMGHMI)"
2180,54456,PJM,DQE,GMHOVER25KWH,GMH2GMC,SCALAR,GMH,None,PA,0.0,9506,Y,"(PJM, DQE, GMH2GMC)"
2181,54458,PJM,DQE,GMHOVER25KWH,GMH2GMI,SCALAR,GMH,None,PA,0.0,9508,Y,"(PJM, DQE, GMH2GMI)"
2182,54459,PJM,DQE,GMHOVER25KWH,GMHHGMC,SCALAR,GMH,None,PA,0.0,9509,Y,"(PJM, DQE, GMHHGMC)"

## Find Uncommon (not in ESG and not in INTDB)

In [21]:
other_group = list(set(alps.GROUP).symmetric_difference(set(common.GROUP)))
decide = [a in other_group for a in alps.GROUP]

other_group = alps[decide]
other_group.reset_index(drop = True, inplace = True)
other_group

,UID_MAP,CREATED_USER,CREATED_DT,UPDATED_USER,UPDATED_DT,MARKET_CODE,DISCO_CODE,ZONE,RATE,PROFILE,...,STRATA,OUT_ZONE,OUT_RATE,OUT_PROFILE,OUT_VOLTAGE,OUT_METER_TYPE,OUT_STRATA,OUT_IGNORE_FLG,COMMENTS,GROUP
0,"1,130,355",TESI_INTERFACE,08/29/2016 11:43:44,TESI_INTERFACE,06/06/2017 10:35:10,NEPOOL,COMELEC,SEMA,R-5,NaN,...,NaN,SEMA,R5,R1,SECONDARY,NaN,NaN,N,SERNA_USGH_20170601_133012_R143490112_USGH_USG...,"(NEPOOL, COMELEC, R-5)"
1,"1,131,300",TESI_INTERFACE,08/30/2016 08:14:13,TESI_INTERFACE,03/15/2017 08:26:51,PJM,DPL,DPL,USGSSPHTG,MDDGS,...,NaN,DPL,USGSSPHTG,MDDGS,SECONDARY_120_480V,NaN,NaN,N,SERNA_USGH_20170314_091525_R138696040_USGH_USG...,"(PJM, DPL, USGSSPHTG)"
2,"1,131,301",TESI_INTERFACE,08/30/2016 08:14:13,TESI_INTERFACE,06/02/2017 10:04:48,PJM,PEPCODC,PEPCODC,180,DCND,...,NaN,PEPCODC,80,DCND,GSLV,NaN,NaN,N,SERNA_USGH_20170602_101419_R143559487_USGH_USG...,"(PJM, PEPCODC, 180)"
3,"1,131,303",TESI_INTERFACE,08/30/2016 08:14:13,TESI_INTERFACE,03/04/2017 08:46:22,PJM,DPL,DPL,UGSPTOU,MDDGP,...,NaN,DPL,UGSPTOU,MDDGP,NaN,NaN,NaN,N,SERNA_USGH_20170304_090014_R138147247_USHI_USG...,"(PJM, DPL, UGSPTOU)"
4,"1,131,790",TESI_INTERFACE,08/30/2016 13:44:35,TESI_INTERFACE,10/24/2018 17:27:56,NEPOOL,CLP,CONNECTICUT,030,NaN,...,NaN,CONNECTICUT,030,NaN,NaN,NaN,NaN,N,SERNA_USGH_20180601_141150_R165565733_USGH_USG...,"(NEPOOL, CLP, 030)"
5,"1,131,881",TESI_INTERFACE,08/30/2016 14:41:39,TESI_INTERFACE,06/01/2017 13:50:40,PJM,BGE,NaN,INTERVAL GL,165,...,NaN,BGE,INTERVAL GL,165,NaN,NaN,NaN,N,SCA_BGE_0167102624_1-FDTX0P_1_20170601_120411_...,"(PJM, BGE, INTERVAL GL)"
6,"1,132,350",TESI_INTERFACE,08/30/2016 16:44:41,TESI_INTERFACE,05/08/2017 13:38:43,NYISO,RGE,GEN,RED0100E00,NaN,...,NaN,B,RED0100E00,NaN,SE,NaN,NaN,N,SCA_RGE_14_1-FB0K04_1_05_08_2017_13_30_54.txt,"(NYISO, RGE, RED0100E00)"
7,"1,132,351",TESI_INTERFACE,08/30/2016 16:44:41,TESI_INTERFACE,05/08/2017 13:38:43,NYISO,RGE,GEN,RED0420E00,NaN,...,NaN,B,RED0420E00,NaN,SE,NaN,NaN,N,SCA_RGE_14_1-FB0K04_1_05_08_2017_13_30_54.txt,"(NYISO, RGE, RED0420E00)"
8,"1,132,352",TESI_INTERFACE,08/30/2016 16:44:41,TESI_INTERFACE,05/04/2017 17:03:53,NYISO,RGE,GEN,RED0100V00,NaN,...,NaN,B,RED0100V00,NaN,SE,NaN,NaN,N,SCA_RGE_27_1-FAF3GC_1_05_04_2017_16_51_03.txt,"(NYISO, RGE, RED0100V00)"
9,"1,134,498",TESI_INTERFACE,09/01/2016 11:41:56,TESI_INTERFACE,09/01/2016 11:41:56,ERCOT,ONCOR,NaN,R8,NMLIGHT_EAST_NIDR_NWS_NOTOU,...,NaN,NaN,ERCOT_NM,NMLIGHT_EAST,A,NaN,NaN,N,B6S7MV9_1_FUMC UsageData.xlsx,"(ERCOT, ONCOR, R8)"
10,"1,136,452",TESI_INTERFACE,09/02/2016 10:05:47,TESI_INTERFACE,09/02/2016 12:17:42,MISO,AMEREN,NaN,DS3,IDR,...,NaN,NaN,DS3,IDR,secondary,NaN,NaN,N,AMEREN_ALEX_new.xls,"(MISO, AMEREN, DS3)"
11,"1,136,453",TESI_INTERFACE,09/02/2016 10:05:47,TESI_INTERFACE,09/02/2016 12:17:42,PJM,AMEREN,NaN,DS3,IDR,...,NaN,NaN,DS3,IDR,secondary,NaN,NaN,N,AMEREN_ALEX_new.xls,"(PJM, AMEREN, DS3)"
12,"1,138,571",TESI_INTERFACE,09/06/2016 08:41:42,TESI_INTERFACE,09/06/2016 08:41:42,ERCOT,CENTERPOINT,HOUSTON,ERCOT_BUS,BUSLOLF_HOUSTON,...,NaN,HOUSTON,ERCOT_BUS,BUSLOLF_HOUSTON,A,NaN,NaN,N,B6T2B27_1_LOAD TEMPLATE - ALL AMERCICAN EVENTS...,"(ERCOT, CENTERPOINT, ERCOT_BUS)"
13,"1,138,783",TESI_INTERFACE,09/06/2016 11:08:48,TESI_INTERFACE,09/06/2016 11:08:48,NEPOOL,CLP,CONNECTICUT,NaN,NaN,...,NaN,CONNECTICUT,00,SM_GS,SECONDARY,NaN,NaN,N,B6T35Y6_1_NEW SAMARITAN GS.xlsx,"(NEPOOL, CLP, nan)"
14,"1,190,147",TESI_INTERFACE,09/28/2016 08:15:13,TESI_INTERFACE,05/25/2017 14:23:33,PJM,DPLDE,DPLDE,UGSWTRHTG,DEDGS,...,NaN,DPLDE,UGSWTRHTG,DEDGS,NaN,NaN,NaN,N,SERNA_USGH_20170112_100658_R135168111_USGH_USG...,"(PJM, DPLDE, UGSWTRHTG)"
15,"1,190,150",TESI_INTERFACE,09/28/2016 08:15:13,TESI_INTERFACE,10/31/2017 09:34:41,PJM,PEPCO,PEPCO,290,MDND,...,NaN,PEPCO,290,MDND,NaN,NaN,NaN,N,SERNA_USGH_20171024_120959_R152530112_USGH_USG...,"(PJM, PEPCO, 290)"
16,"1,210,906",TESI_INTERFACE,10/10/2016 17:02:38,TESI_INTERFACE,01/17/2019 14:49:38,PJM,COMED,NaN,B71,NaN,...,NaN,COMED,B71,NaN,NaN,NaN,NaN,N,SCA_COMED_6244645114_532_1_01_05_2019_13_08_02...,"(PJM, COMED, B71)"
17,"1,447,757",TESI_INTERFACE,01/30/2017 16:05:50,TESI_INTERFACE,01/30/2017 16:11:42,ERCOT,CPT,NaN,360,BUSMEDDG_COAST_IDR_WS_NOTOU,...,NaN,HOUSTON,ERCOT_BUS,BUSMEDDG_COAST,D,NaN,NaN,N,SCA_CPT_HCPI.xlsx,"(ERCOT, CPT, 360)"
18,"1,733,305",TESI_INTERFACE,06/03/2017 09:07:59,TESI_INTERFACE,06/03/2017 09:07:59,PJM,AECO,AECO,AGSPRIMARY,NJAMP,...,NaN,AECO,AGSPRIMARY,NJAMP,NaN,NaN,NaN,N,SERNA_USGH_20170603_085813_R143620978_USHI_USG...,"(PJM, AECO, AGSPRIMARY)"
19,"1,138,749",TESI_INTERFACE,09/06/2016 10:59:42,TESI_INTERFACE,04/26/2017 12:05:41,NYISO,CENTHUD,G,G220,SD3,...,NaN,G,G220,SD3,NaN,NaN,NaN,N,SCA_CENTHUD_2_1-7567N0_2_04_26_2017_12_00_48.txt,"(NYISO, CENTHUD, G220)"
20,"1,138,750",TESI_INTERFACE,09/06/2016 10:59:42,TESI_INTERFACE,04/28/2017 09:32:41,NYISO,CENTHUD,G,G220,SD1,...,NaN,G,G220,SD1,NaN,NaN,NaN,N,SCA_CENTHUD_1-FA7DVE_1_04_28_2017_09_30_07.txt,"(NYISO, CENTHUD, G220)"
21,"1,181,978",TESI_INTERFACE,09/22/2016 23:25:16,TESI_INTERFACE,06/05/2017 23:06:00,NYISO,ORU,G,X3E,NaN,...,NaN,G,X3E,NaN,NaN,NaN,NaN,N,SERNA_USGH_20170605_231906_R143710616_USGH_USG...,"(NYISO, ORU, X3E)"
22,"1,184,517",TESI_INTERFACE,09/23/2016 16:35:44,TESI_INTERFACE,04/21/2017 01:23:47,ERCOT,AEPWTU,NaN,916,NMLIGHT_WEST_NIDR_NWS_NOTOU,...,NaN,WEST,ERCOT_NM,NMLIGHT_WEST,NaN,NaN,NaN,N,1-EOVPOI_1_HU - AEP-North PREMISE NEW BEGINNIN...,"(ERCOT, AEPWTU, 916)"
23,"1,130,072",TESI_INTERFACE,08/28/2016 06:58:45,TESI_INTERFACE,06/01/2017 07:17:29,PJM,PENELEC,PENELEC,PN-GSMD,GSIL,...,NaN,PENELEC,PN-GSMD,GSIL,NaN,NaN,NaN,N,SERNA_USGH_20170601_075108_R143462926_USGH_USG...,"(PJM, PENELEC, PN-GSMD)"
24,"1,130,635",TESI_INTERFACE,08/29/2016 13:35:43,TESI_INTERFACE,08/29/2016 15:35:42,ERCOT,CENTERPOINT,NORTH,ERCOT_BUS,BUSMEDLF_NCENT,...,NaN,NORTH,ERCOT_BUS,BUSMEDLF_NCENT,A,NaN,NaN,N,B6Q2N2G_1_LOAD TEMPLATE - Abrasive Products ...,"(ERCOT, CENTERPOINT, ERCOT_BUS)"
25,"1,130,644",TESI_INTERFACE,08/29/2016 14:05:42,TESI_INTERFACE,03/29/2017 12:44:43,ERCOT,ONCOR,NaN,NaN,NaN,...,NaN,NaN,ERCOT_BUS,NaN,B,NaN,NaN,N,1-DEM2PN_1_Generic Scalar Form - Starfire.xls,"(ERCOT, ONCOR, nan)"
26,"1,134,793",TESI_INTERFACE,09/01/2016 14:26:42,TESI_INTERFACE,09/02/2016 12:11:42,ERCOT,Sharyland,NaN,NaN,NaN,...,NaN,NaN,ERCOT_BUS,NaN,NaN,NaN,NaN,N,B6SF328_1_Newby generic scalar.xls,"(ERCOT, Sharyland, nan)"
27,"1,134,798",TESI_INTERFACE,09/01/2016 14:36:15,TESI_INTERFACE,03/14/2017 11:32:56,ERCOT,AEPCPL,NaN,955,NMLIGHT_SOUTH_NIDR_NWS_NOTOU,...,NaN,SOUTH,ERCOT_NM,NMLIGHT_SOUTH,NaN,NaN,NaN,N,SCA_AEPCPL_WEBB.xls,"(ERCOT, AEPCPL, 955)"
28,"1,138,758",TESI_INTERFACE,09/06/2016 11:02:43,TESI_INTERFACE,09/06/2016 11:02:54,NYISO,CENTHUD,G,G200,SD2,...,NaN,G,G200,SD2,NaN,NaN,NaN,N,SCA_CENTHUD_17_1-6OR8XU_6_09_06_2016_10_56_34.txt,"(NYISO, CENTHUD, G200)"
29,"1,138,759",TESI_INTERFACE,09/06/2016 11:02:43,TESI_INTERFACE,05/05/2017 16:03:19,NYISO,CENTHUD,G,G220,SD2,...,NaN,G,G220,SD2,NaN,NaN,NaN,N,SCA_CENTHUD_EFB3NDB_1_05_05_2017_16_00_06.txt,"(NYISO, CENTHUD, G220)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
934,"1,663,127",TESI_INTERFACE,05/01/2017 20:20:17,TESI_INTERFACE,05/01/2017 20:20:17,PJM,DEOK,DEOK,UOLL,NaN,...,NaN,DEOK,UOLL,NaN,NaN,NaN,NaN,N,SERNA_USGH_20170501_205249_R141596020_USGH_USG...,"(PJM, DEOK, UOLL)"
935,"1,165,753",TESI_INTERFACE,09/15/2016 08:23:49,TESI_INTERFACE,03/08/2017 08:53:03,PJM,DPL,DPL,DMEG_USGSS,MDDGS,...,NaN,DPL,DMEG_USGSS,MDDGS,NaN,NaN,NaN,N,SERNA_USGH_20170308_091927_R138344927_USHI_USG...,"(PJM, DPL, DMEG_USGSS)"
936,"1,641,068",TESI_INTERFACE,04/25/2017 07:23:08,TESI_INTERFACE,04/25/2017 07:23:08,PJM,METED,METED,ME-GSLF,GSIL,...,NaN,METED,ME-GSLF,GSIL,NaN,NaN,NaN,N,SERNA_USGH_20170425_073929_R141180300_USGH_USG...,"(PJM, METED, ME-GSLF)"
937,"1,162,254",TESI_INTERFACE,09/14/2016 13:47:40,TESI_INTERFACE,09/14/2016 13:47:40,PJM,BGE,NaN,INTERVAL GLP 13KV,173,...,NaN,BGE,INTERVAL GLP 13KV,173,NaN,NaN,NaN,N,SCA_BGE_20_1-6UTL7O_1_20160914_143813_09_14_20...,"(PJM, BGE, INTERVAL GLP 13KV)"
938,"1,791,991",TESI_INTERFACE,01/14/2019 09:09:00,TESI_INTERFACE,01/14/2019 09:28:48,PJM,AEPOP,AEPOP,215,CCOHDM2U,...,NaN,AEPOP,215,CCOHDM2U,NaN,NaN,NaN,N,SERNA_USGH_20190104_044937_R182348597_USGH_USG...,"(PJM, AEPOP, 215)"
939,"1,222,155",TESI_INTERFACE,10/14/2016 13:56:42,TESI_INTERFACE,10/18/2016 10:17:49,ERCOT,AECPL,NaN,NaN,NaN,...,NaN,NaN,ERCOT_BUS,NaN,NaN,NaN,NaN,N,B753FOA_1_Generic.xls,"(ERCOT, AECPL, nan)"
940,"1,149,271",TESI_INTERFACE,09/08/2016 12:23:41,TESI_INTERFACE,01/17/2019 15:16:30,PJM,COMED,NaN,R70,NaN,...,NaN,COMED,R70,NaN,NaN,NaN,NaN,N,SCA_COMED_6739341029_723_1_01_06_2019_07_54_07...,"(PJM, COMED, R70)"
941,"1,193,904",TESI_INTERFACE,09/29/2016 15:17:50,TESI_INTERFACE,09/29/2016 15:17:50,ERCOT,AEPWTU,NaN,955,NMLIGHT_WEST_NIDR_NWS_NOTOU,...,NaN,WEST,ERCOT_NM,NMLIGHT_WEST,NaN,NaN,NaN,N,1-710UST_1_AEPUsageHistoryDetail_RequestID_002...,"(ERCOT, AEPWTU, 955)"
942,"1,193,905",TESI_INTERFACE,09/29/2016 15:17:50,TESI_INTERFACE,09/29/2016 15:17:50,ERCOT,AEPWTU,NaN,949,NMLIGHT_WEST_NIDR_NWS_NOTOU,...,NaN,WEST,ERCOT_NM,NMLIGHT_WEST,NaN,NaN,NaN,N,1-710UST_1_AEPUsageHistoryDetail_RequestID_002...,"(ERCOT, AEPWTU, 949)"
943,"1,198,547",TESI_INTERFACE,10/03/2016 11:38:45,TESI_INTERFACE,10/14/2016 15:02:47,ERCOT,TNMP,NaN,NaN,NaN,...,NaN,NaN,ERCOT_BUS,NaN,NaN,NaN,NaN,N,B74OXKB_1_A Six Store Generic Scalar 10-13.xls,"(ERCOT, TNMP, nan)"
944,"1,208,179",TESI_INTERFACE,10/07/2016 06:47:10,TESI_INTERFACE,01/12/2017 23:57:19,PJM,PENELEC,PENELEC,PN-GSMF,GPC,...,NaN,PENELEC,PN-GSMF,GPC,NaN,NaN,NaN,N,SERNA_USGH_20170112_113613_R135173695_USGH.TXT,"(PJM, PENELEC, PN-GSMF)"
945,"1,208,297",TESI_INTERFACE,10/07/2016 06:53:01,TESI_INTERFACE,02/14/2017 07:23:29,PJM,PENELEC,PENELEC,PN-GSVFD,GSCS,...,NaN,PENELEC,PN-GSVFD,GSCS,NaN,NaN,NaN,N,SERNA_USGH_20170214_073635_R137030836_USGH_USG...,"(PJM, PENELEC, PN-GSVFD)"
946,"1,575,372",TESI_INTERFACE,03/23/2017 06:59:04,TESI_INTERFACE,06/02/2017 08:23:52,PJM,JCPL,JCPL,JC_GS3_01D,GSTI,...,NaN,JCPL,JC_GS3_01D,GSTI,NaN,NaN,NaN,N,SERNA_USGH_20170602_084932_R143551623_USGH_USG...,"(PJM, JCPL, JC_GS3_01D)"
947,"1,575,599",TESI_INTERFACE,03/23/2017 07:35:44,TESI_INTERFACE,03/23/2017 07:35:44,NYISO,CENTHUD,G,E150,RHT,...,NaN,G,150,RHT,SECONDARY,NaN,NaN,N,SCA_CENTHUD_1-CYQ53K_1_03_23_2017_07_30_06.txt,"(NYISO, CENTHUD, E150)"
948,"1,686,812",TESI_INTERFACE,05/17/2017 09:05:47,TESI_INTERFACE,05/17/2017 09:11:45,ERCOT,AEPCPL,NaN,955,NMLIGHT_SCENT_NIDR_NWS_NOTOU,...,NaN,SOUTH,ERCOT_NM,NMLIGHT_SCENT,NaN,NaN,NaN,N,1-FCKUPV_1_6294223_HUD_CONT49158_City_of_Yorkt...,"(ERCOT, AEPCPL, 955)"
949,"1,673,920",TESI_INTERFACE,05/05/2017 13:23:46,TESI_INTERFACE,05/08/2017 13:38:43,NYISO,RGE,GEN,RED0410E00,NaN,...,NaN,B,RED0410E00,NaN,SE,NaN,NaN,N,SCA_RGE_14_1-FB0K04_1_05_08_2017_13_30_54.txt,"(NYISO, RGE, RED0410E00)"
950,"1,622,305",TESI_INTERFACE,04/13/2017 09:32:40,TESI_INTERFACE,04/13/2017 09:32:40,NYISO,CENTHUD,NaN,G220,SD1,...,NaN,G,G220,SD1,NaN,NaN,NaN,N,SCA_CENTHUD_1-ED1AZS_1_04_13_2017_09_30_07.txt,"(NYISO, CENTHUD, G220)"
951,"1,147,156",TESI_INTERFACE,09/07/2016 12:52:52,TESI_INTERFACE,05/17/2017 21:38:15,NYISO,NIMO,NaN,SC4,NaN,...,NaN,NaN,SC3,TRAFFIC_SIGNALS,SECONDARY,NaN,NaN,N,SERNA_USGH_20170517_215836_R142641060_USGH_USG...,"(NYISO, NIMO, SC4)"
952,"1,151,257",TESI_INTERFACE,09/09/2016 08:08:39,TESI_INTERFACE,01/31/2019 15:22:50,PJM,COMED,NaN,B70,NaN,...,NaN,COMED,B70,NaN,NaN,NaN,NaN,N,SCA_COMED_8756554031_P15_1_01_25_2019_10_11_32...,"(PJM, COMED, B70)"
953,"1,158,081",TESI_INTERFACE,09/13/2016 08:14:05,TESI_INTERFACE,03/08/2017 15:17:11,NEPOOL,NHECO,NEWHAMPSHIRE,PX,NaN,...,NaN,NEWHAMPSHIRE,PX,NaN,NaN,NaN,NaN,N,SERNA_USGH_20170308_160123_R138389537_USGH_USG...,"(NEPOOL, NHECO, PX)"
954,"1,158,082",TESI_INTERFACE,09/13/2016 08:14:05,TESI_INTERFACE,09/13/2016 08:14:05,NEPOOL,NHECO,NEWHAMPSHIRE,LT13X,NaN,...,NaN,NEWHAMPSHIRE,LT13X,NaN,NaN,NaN,NaN,N,SERNA_USGH_20160913_090242_R128228042_USGH_USG...,"(NEPOOL, NHECO, LT13X)"
955,"1,158,086",TESI_INTERFACE,09/13/2016 08:14:35,TESI_INTERFACE,02/15/2017 09:58:25,PJM,AECO,AECO,AGSSECONDH,NJAAS,...,NaN,AECO,AGSSECONDH,NJAAS,SECONDARY,NaN,NaN,N,SERNA_USGH_20170215_095028_R137119843_USGH_USG...,"(PJM, AECO, AGSSECONDH)"
956,"1,161,753",TESI_INTERFACE,09/14/2016 07:43:44,TESI_INTERFACE,05/25/2017 14:23:33,PJM,AECO,AECO,MGSSECOND,NJAAS,...,NaN,AECO,MGSSECOND,NJAAS,NaN,NaN,NaN,N,SERNA_USGH_20170112_100658_R135168111_USGH_USG...,"(PJM, AECO, MGSSECOND)"
957,"1,161,754",TESI_INTERFACE,09/14/2016 07:43:44,TESI_INTERFACE,04/23/2017 10:22:34,PJM,DPL,DPL,USGSCONOWINGO,MDDGS,...,NaN,DPL,USGSCONOWINGO,MDDGS,NaN,NaN,NaN,N,SERNA_USGH_20170422_130556_R141074708_USGH_USG...,"(PJM, DPL, USGSCONOWINGO)"
958,"1,170,670",TESI_INTERFACE,09/18/2016 17:43:49,TESI_INTERFACE,04/18/2017 07:10:28,PJM,ATSIOE,FEOHIOOE,OE-ESIPCF,SL,...,NaN,FEOHIOOE,OE-ESIPCF,SL,NaN,NaN,NaN,N,SERNA_USGH_20170418_074827_R140753186_USGH_USG...,"(PJM, ATSIOE, OE-ESIPCF)"
959,"1,170,789",TESI_INTERFACE,09/18/2016 17:58:41,TESI_INTERFACE,02/16/2017 06:33:45,PJM,METED,METED,ME-TPD,TPC,...,NaN,METED,ME-TPD,TPC,NaN,NaN,NaN,N,SERNA_USGH_20170216_071316_R137184149_USGH_USG...,"(PJM, METED, ME-TPD)"
960,"1,170,790",TESI_INTERFACE,09/18/2016 17:58:41,TESI_INTERFACE,03/05/2017 17:06:55,PJM,METED,METED,ME-POLD,OLM,...,NaN,METED,ME-POLD,OLM,NaN,NaN,NaN,N,SERNA_USGH_20170305_172733_R138166250_USGH_USG...,"(PJM, METED, ME-POLD)"
961,"1,427,795",TESI_INTERFACE,01/17/2017 07:06:44,TESI_INTERFACE,01/17/2017 07:06:44,PJM,METED,METED,ME-GSLF,GSTI,...,NaN,METED,ME-GSLF,GSTI,NaN,NaN,NaN,N,SERNA_USGH_20170117_073524_R135378343_USGH_USG...,"(PJM, METED, ME-GSLF)"
962,"1,150,926",TESI_INTERFACE,09/08/2016 18:35:38,TESI_INTERFACE,09/08/2016 18:35:38,PJM,BGE,NaN,RL,44,...,NaN,BGE,RL,44,NaN,NaN,NaN,N,SCA_BGE_3_E6TS3D7_1_20160908_192559_09_08_2016...,"(PJM, BGE, RL)"
963,"1,155,143",TESI_INTERFACE,09/09/2016 22:30:40,TESI_INTERFACE,01/31/2017 14:46:15,PJM,RECO,RECO,Y6D,NaN,...,NaN,RECO,NaN,NaN,NaN,NaN,NaN,N,SERNA_USGH_20170111_230504_R135140098_USGH_USG...,"(PJM, RECO, Y6D)"

In [29]:
uniq_other_group = other_group.drop_duplicates(['MARKET_CODE', 'DISCO_CODE', 'RATE'], keep = 'first')
uniq_other_group.reset_index(drop = True, inplace = True)

In [37]:
uniq_common = common.drop_duplicates(['MARKET', 'DISCO_CODE', 'RATE_CLASS', 'PROFILE_CLASS', 'METER_TYPE', 'LOSS_CODE', 'LOSS_DESCRIPTION'], keep = 'first')
uniq_common.reset_index(drop = True, inplace = True)

# Intelometry

In [26]:
intel = pd.read_csv('Utility_Rate_Code_Mapping.csv')
intel['Profile'] = intel['Profile'].astype('str')
intel.head()

,Utility Name,Rate Name,Description,Commodity,Voltage,Business Type,Loss Factor,Profile
0,AECO,AECO_RC_AGSPRIMARY,Annual General Service Prmary,Power,NaN,General Service,NaN,AECO_LP_NJAAP
1,AECO,AECO_RC_AGSPRIMARYH,"Annual General Service, Primary",Power,NaN,General Service,NaN,AECO_LP_NJAAP
2,AECO,AECO_RC_AGSSECOND,"Annual General Service, Secondary",Power,Secondary,General Service,NaN,AECO_LP_NJAAS
3,AECO,AECO_RC_AGSSECONDH,"Annual General Service, Secondary",Power,Secondary,General Service,NaN,AECO_LP_NJAAS
4,AECO,AECO_RC_ANEL_CSL,Street and Private Lighting,Power,Secondary,Ltg-St,NaN,AECO_LP_NJAOL

In [29]:
rate = [r.split('_')[2:] for r in intel['Rate Name']]
intel['Rate'] = ['_'.join(r) for r in rate]
intel['Load'] = [p.split('_') for p in intel['Profile']]
load = []
for p in intel['Load']:
    try:
        load.append(p[2])
    except:
        load.append('NA')
intel['Load'] = load
intel.head()

,Utility Name,Rate Name,Description,Commodity,Voltage,Business Type,Loss Factor,Profile,Rate,Load
0,AECO,AECO_RC_AGSPRIMARY,Annual General Service Prmary,Power,NaN,General Service,NaN,AECO_LP_NJAAP,AGSPRIMARY,NJAAP
1,AECO,AECO_RC_AGSPRIMARYH,"Annual General Service, Primary",Power,NaN,General Service,NaN,AECO_LP_NJAAP,AGSPRIMARYH,NJAAP
2,AECO,AECO_RC_AGSSECOND,"Annual General Service, Secondary",Power,Secondary,General Service,NaN,AECO_LP_NJAAS,AGSSECOND,NJAAS
3,AECO,AECO_RC_AGSSECONDH,"Annual General Service, Secondary",Power,Secondary,General Service,NaN,AECO_LP_NJAAS,AGSSECONDH,NJAAS
4,AECO,AECO_RC_ANEL_CSL,Street and Private Lighting,Power,Secondary,Ltg-St,NaN,AECO_LP_NJAOL,ANEL_CSL,NJAOL

In [22]:
intel.tail()

,Utility Name,Rate Name,Description,Commodity,Voltage,Business Type,Loss Factor,Profile,Rate
3250,WMECO,WMECO_RC_S2,"Street Lighting (S1, S2) Customer Owned Facili...",Power,Secondary,Ltg-St,WMECO_LF_SEC,WMECO_LP_S1,S2
3251,WMECO,WMECO_RC_T0,Small General Service - Time-of-Use,Power,Secondary,GenSvc-Sm,WMECO_LF_SEC,WMECO_LP_T2,T0
3252,WMECO,WMECO_RC_T2,Large TOU Primary Service (T2),Power,Primary,GenSvc-Lg-TOU,WMECO_LF_PRI,WMECO_LP_T2,T2
3253,WMECO,WMECO_RC_T4,"Intermediate Primary General Service (G2, T4)",Power,Primary,GenSvc-Med,WMECO_LF_PRI,WMECO_LP_G2,T4
3254,WMECO,WMECO_RC_T5,"Extra Large Primary Service, Time-of-Use (T5)",Power,Primary,GenSvc-Lg-TOU,WMECO_LF_PRI,NaN,T5

In [ ]:
intel_group =

## Write to csv

In [19]:
common.to_csv('INTDB_ALPS_MISSING_OVERLAP.csv')

In [20]:
other_group.to_csv('INDTB_ALPS_MISSING_BOTH.csv')

In [40]:
uniq_common.to_csv('INTDB_ALPS_MISSING_OVERLAP_UNIQ.csv')

'C:\\Users\\wb5888\\LA-tools\\package'