# INTDB Profile Mapping

    Query current INTDB profiles. Need rate classes & profiles to compare with ESG & Intellometry. Process enhancements needed for rate class parsing, filling in missing profiles, tags, etc. etc.

    How to best use ESG, Intellometry & EWX as datasources?

## Import Modules

    use requirements.txt instead
    set venv on server?

In [146]:
import numpy as np
import datetime as dt
import pandas as pd
import os
import time
import math
import json
import cx_Oracle
base = os.getcwd()

## DB Connection

In [147]:
''' connect to TPINT (or TPPE, LPSS) '''
''' parameters: {'query' : 'str of SQL query'} '''
''' output: {'result_list' : 'list of results returned from query'} '''

def OracleAPI(query):
    
    uid = 'tesi_interface'
    pwd = 'intint88'

    ip = '172.25.152.12'
    port = '1737'
    service_name = 'tpint.mytna.com'
    #dsn = cx_Oracle.makedsn(ip, port, service_name=service_name)
    
    print('querying...')
    
    con = cx_Oracle.connect(uid, pwd, service_name)
    cur = con.cursor()
    cur.execute(query)
    columns = [i[0] for i in cur.description]

    result_list = []
    
    for result in cur:
        result_list.append(result)
        i = len(result_list)
        if (i > 0 and i % 1000 == 0):
            print('done with {}.'.format(i))
    
    print('finished with {} results, outputting dataframe.'. format(len(result_list)))
    result = pd.DataFrame(result_list)
    result.columns = columns
    
    return(result)

## INTDB Query

In [148]:
INTDB = "select * from M_ESG_PC_RC_SOURCE a, m_lpss_pc_rc b where A.SOURCEID = B.ESG_SOURCEID"

In [149]:
intdb_result = OracleAPI(INTDB)

querying...
done with 1000.
done with 2000.
done with 3000.
done with 4000.
done with 5000.
done with 6000.
done with 7000.
finished with 7581 results, outputting dataframe.

In [150]:
intdb_result.head()

,SOURCEID,MARKET,DISCO_CODE,LOAD_PROFILE,RATE_CLASS,ESG_SOURCEID,MARKET,DISCO_CODE,PROFILE_CLASS,RATE_CLASS,METER_TYPE,LOSS_CODE,LOSS_DESCRIPTION,STATE,RES_FLAG,SEQ_ID,DEFAULT_FLAG
0,10001,ERCOT,CPT,None,990,10001,ERCOT,CPT,None,ERCOT_BUS,IDR,D,SECONDARY,TX,0.0,1,N
1,10002,ERCOT,CPT,None,991,10002,ERCOT,CPT,None,ERCOT_BUS,IDR,D,SECONDARY,TX,0.0,2,N
2,10003,ERCOT,CPT,None,992,10003,ERCOT,CPT,None,ERCOT_BUS,IDR,E,PRIMARY,TX,0.0,3,N
3,10004,ERCOT,CPT,None,993,10004,ERCOT,CPT,None,ERCOT_BUS,IDR,T,TRANSMISSION,TX,0.0,4,N
4,10005,ERCOT,CPT,None,994,10005,ERCOT,CPT,None,ERCOT_BUS,IDR,D,SECONDARY,TX,0.0,5,Y

In [151]:
intdb_result.tail()

,SOURCEID,MARKET,DISCO_CODE,LOAD_PROFILE,RATE_CLASS,ESG_SOURCEID,MARKET,DISCO_CODE,PROFILE_CLASS,RATE_CLASS,METER_TYPE,LOSS_CODE,LOSS_DESCRIPTION,STATE,RES_FLAG,SEQ_ID,DEFAULT_FLAG
7576,54548,PJM,APSPA,GSCS,WP-GP30SHD,54548,PJM,APSPA,GSCS,WP-GP30SHD,SCALAR,SUBTRANSMISSION,WP_SUB,PA,0.0,9598,N
7577,54549,PJM,APSPA,GSCS,WP-GP30SHD,54549,PJM,APSPA,GSCS_IDR,WP-GP30SHD,IDR,PRIMARY,WP_PRI,PA,0.0,9599,N
7578,54550,PJM,APSPA,GSCS,WP-GP30SHD,54550,PJM,APSPA,GSCS_IDR,WP-GP30SHD,IDR,SUBTRANSMISSION,WP_SUB,PA,0.0,9600,Y
7579,54551,PJM,APSPA,GSCS,WP-GP30SHF,54551,PJM,APSPA,GSCS,WP-GP30SHF,SCALAR,SECONDARY,WP_SEC,PA,0.0,9601,Y
7580,54552,PJM,APSPA,GSCS,WP-GP30SHF,54552,PJM,APSPA,GSCS_IDR,WP-GP30SHF,IDR,SECONDARY,WP_SEC,PA,0.0,9602,Y

## INTDB Results

    Want to find missing profiles, differences between ESG and INTDB, places with large # parsing errors.

In [152]:
intdb = intdb_result.loc[:,~intdb_result.columns.duplicated()]
intdb.head()

,SOURCEID,MARKET,DISCO_CODE,LOAD_PROFILE,RATE_CLASS,ESG_SOURCEID,PROFILE_CLASS,METER_TYPE,LOSS_CODE,LOSS_DESCRIPTION,STATE,RES_FLAG,SEQ_ID,DEFAULT_FLAG
0,10001,ERCOT,CPT,None,990,10001,None,IDR,D,SECONDARY,TX,0.0,1,N
1,10002,ERCOT,CPT,None,991,10002,None,IDR,D,SECONDARY,TX,0.0,2,N
2,10003,ERCOT,CPT,None,992,10003,None,IDR,E,PRIMARY,TX,0.0,3,N
3,10004,ERCOT,CPT,None,993,10004,None,IDR,T,TRANSMISSION,TX,0.0,4,N
4,10005,ERCOT,CPT,None,994,10005,None,IDR,D,SECONDARY,TX,0.0,5,Y

In [153]:
intdb.shape

(7581, 14)

# ALPS Missing Mappings

In [154]:
alps = pd.read_csv('ALPS_PARSER_MISSING_MAPS.csv')
alps.head()

,UID_MAP,CREATED_USER,CREATED_DT,UPDATED_USER,UPDATED_DT,MARKET_CODE,DISCO_CODE,ZONE,RATE,PROFILE,...,METER_TYPE,STRATA,OUT_ZONE,OUT_RATE,OUT_PROFILE,OUT_VOLTAGE,OUT_METER_TYPE,OUT_STRATA,OUT_IGNORE_FLG,COMMENTS
0,"1,130,355",TESI_INTERFACE,08/29/2016 11:43:44,TESI_INTERFACE,06/06/2017 10:35:10,NEPOOL,COMELEC,SEMA,R-5,NaN,...,NaN,NaN,SEMA,R5,R1,SECONDARY,NaN,NaN,N,SERNA_USGH_20170601_133012_R143490112_USGH_USG...
1,"1,131,086",TESI_INTERFACE,08/30/2016 07:06:20,TESI_INTERFACE,06/04/2017 12:36:55,PJM,ATSITE,FEOHIOTE,TE-POLSD,SL,...,NaN,NaN,FEOHIOTE,TE-POLSD,SL,NaN,NaN,NaN,N,SERNA_USGH_20170604_131356_R143638625_USGH_USG...
2,"1,131,109",TESI_INTERFACE,08/30/2016 07:14:19,TESI_INTERFACE,04/20/2017 07:31:10,PJM,ATSITE,FEOHIOTE,TE-GTD,C1,...,NaN,NaN,FEOHIOTE,TE-GTD,C1,NaN,NaN,NaN,N,SERNA_USGH_20170420_074801_R140919998_USGH_USG...
3,"1,131,300",TESI_INTERFACE,08/30/2016 08:14:13,TESI_INTERFACE,03/15/2017 08:26:51,PJM,DPL,DPL,USGSSPHTG,MDDGS,...,NaN,NaN,DPL,USGSSPHTG,MDDGS,SECONDARY_120_480V,NaN,NaN,N,SERNA_USGH_20170314_091525_R138696040_USGH_USG...
4,"1,131,301",TESI_INTERFACE,08/30/2016 08:14:13,TESI_INTERFACE,06/02/2017 10:04:48,PJM,PEPCODC,PEPCODC,180,DCND,...,NaN,NaN,PEPCODC,80,DCND,GSLV,NaN,NaN,N,SERNA_USGH_20170602_101419_R143559487_USGH_USG...

In [155]:
alps

,UID_MAP,CREATED_USER,CREATED_DT,UPDATED_USER,UPDATED_DT,MARKET_CODE,DISCO_CODE,ZONE,RATE,PROFILE,...,METER_TYPE,STRATA,OUT_ZONE,OUT_RATE,OUT_PROFILE,OUT_VOLTAGE,OUT_METER_TYPE,OUT_STRATA,OUT_IGNORE_FLG,COMMENTS
0,"1,130,355",TESI_INTERFACE,08/29/2016 11:43:44,TESI_INTERFACE,06/06/2017 10:35:10,NEPOOL,COMELEC,SEMA,R-5,NaN,...,NaN,NaN,SEMA,R5,R1,SECONDARY,NaN,NaN,N,SERNA_USGH_20170601_133012_R143490112_USGH_USG...
1,"1,131,086",TESI_INTERFACE,08/30/2016 07:06:20,TESI_INTERFACE,06/04/2017 12:36:55,PJM,ATSITE,FEOHIOTE,TE-POLSD,SL,...,NaN,NaN,FEOHIOTE,TE-POLSD,SL,NaN,NaN,NaN,N,SERNA_USGH_20170604_131356_R143638625_USGH_USG...
2,"1,131,109",TESI_INTERFACE,08/30/2016 07:14:19,TESI_INTERFACE,04/20/2017 07:31:10,PJM,ATSITE,FEOHIOTE,TE-GTD,C1,...,NaN,NaN,FEOHIOTE,TE-GTD,C1,NaN,NaN,NaN,N,SERNA_USGH_20170420_074801_R140919998_USGH_USG...
3,"1,131,300",TESI_INTERFACE,08/30/2016 08:14:13,TESI_INTERFACE,03/15/2017 08:26:51,PJM,DPL,DPL,USGSSPHTG,MDDGS,...,NaN,NaN,DPL,USGSSPHTG,MDDGS,SECONDARY_120_480V,NaN,NaN,N,SERNA_USGH_20170314_091525_R138696040_USGH_USG...
4,"1,131,301",TESI_INTERFACE,08/30/2016 08:14:13,TESI_INTERFACE,06/02/2017 10:04:48,PJM,PEPCODC,PEPCODC,180,DCND,...,NaN,NaN,PEPCODC,80,DCND,GSLV,NaN,NaN,N,SERNA_USGH_20170602_101419_R143559487_USGH_USG...
5,"1,131,302",TESI_INTERFACE,08/30/2016 08:14:13,TESI_INTERFACE,04/07/2017 09:04:11,PJM,DPL,DPL,DMEL_OL,MDDOL,...,NaN,NaN,DPL,DMEL_OL,MDDOL,NaN,NaN,NaN,N,SERNA_USGH_20170407_093510_R140167172_USHI_USG...
6,"1,131,303",TESI_INTERFACE,08/30/2016 08:14:13,TESI_INTERFACE,03/04/2017 08:46:22,PJM,DPL,DPL,UGSPTOU,MDDGP,...,NaN,NaN,DPL,UGSPTOU,MDDGP,NaN,NaN,NaN,N,SERNA_USGH_20170304_090014_R138147247_USHI_USG...
7,"1,131,353",TESI_INTERFACE,08/30/2016 08:59:42,TESI_INTERFACE,05/22/2017 16:14:21,PJM,AEPOP,AEPOP,900,CCOPSLTA,...,NaN,NaN,AEPOP,900,CCOPSLTA,NaN,NaN,NaN,N,SERNA_USGH_20170522_165539_R142882940_USGH_USG...
8,"1,131,354",TESI_INTERFACE,08/30/2016 08:59:42,TESI_INTERFACE,05/22/2017 16:14:21,PJM,AEPOP,AEPOP,901,CCOPSLTA,...,NaN,NaN,AEPOP,901,CCOPSLTA,NaN,NaN,NaN,N,SERNA_USGH_20170522_165539_R142882940_USGH_USG...
9,"1,131,449",TESI_INTERFACE,08/30/2016 09:43:47,TESI_INTERFACE,03/18/2017 10:50:00,MISO,AMERENIP,AMILSZE,DS5,LITE,...,NaN,NaN,AMILSZE,DS5,LITE,NaN,NaN,NaN,N,SERNA_USGH_20170318_102438_R138978619_USHI_USG...
10,"1,131,450",TESI_INTERFACE,08/30/2016 09:43:47,TESI_INTERFACE,06/12/2019 14:28:48,MISO,AMERENIP,AMILSZE,DS2,DS2HH-,...,NaN,NaN,AMILSZE,DS2,DS2HH-,NaN,NaN,NaN,N,SERNA_USGH_20160702_101717_R124157854_USGH_USG...
11,"1,131,790",TESI_INTERFACE,08/30/2016 13:44:35,TESI_INTERFACE,10/24/2018 17:27:56,NEPOOL,CLP,CONNECTICUT,030,NaN,...,NaN,NaN,CONNECTICUT,030,NaN,NaN,NaN,NaN,N,SERNA_USGH_20180601_141150_R165565733_USGH_USG...
12,"1,131,861",TESI_INTERFACE,08/30/2016 14:05:47,TESI_INTERFACE,08/30/2016 14:05:47,PJM,AEPCS,AEPCS,850,IDR,...,NaN,NaN,AEPCS,850,IDR,SECONDARY,NaN,NaN,N,GS_1-6Q21Z9_OHIO DEPARTMENT OF NATURAL RESOURC...
13,"1,131,862",TESI_INTERFACE,08/30/2016 14:05:47,TESI_INTERFACE,08/30/2016 14:05:47,PJM,AEPCS,AEPCS,840,IDR,...,NaN,NaN,AEPCS,840,IDR,SECONDARY,NaN,NaN,N,GS_1-6Q21Z9_OHIO DEPARTMENT OF NATURAL RESOURC...
14,"1,131,881",TESI_INTERFACE,08/30/2016 14:41:39,TESI_INTERFACE,06/01/2017 13:50:40,PJM,BGE,NaN,INTERVAL GL,165,...,NaN,NaN,BGE,INTERVAL GL,165,NaN,NaN,NaN,N,SCA_BGE_0167102624_1-FDTX0P_1_20170601_120411_...
15,"1,132,350",TESI_INTERFACE,08/30/2016 16:44:41,TESI_INTERFACE,05/08/2017 13:38:43,NYISO,RGE,GEN,RED0100E00,NaN,...,NaN,NaN,B,RED0100E00,NaN,SE,NaN,NaN,N,SCA_RGE_14_1-FB0K04_1_05_08_2017_13_30_54.txt
16,"1,132,351",TESI_INTERFACE,08/30/2016 16:44:41,TESI_INTERFACE,05/08/2017 13:38:43,NYISO,RGE,GEN,RED0420E00,NaN,...,NaN,NaN,B,RED0420E00,NaN,SE,NaN,NaN,N,SCA_RGE_14_1-FB0K04_1_05_08_2017_13_30_54.txt
17,"1,132,352",TESI_INTERFACE,08/30/2016 16:44:41,TESI_INTERFACE,05/04/2017 17:03:53,NYISO,RGE,GEN,RED0100V00,NaN,...,NaN,NaN,B,RED0100V00,NaN,SE,NaN,NaN,N,SCA_RGE_27_1-FAF3GC_1_05_04_2017_16_51_03.txt
18,"1,134,498",TESI_INTERFACE,09/01/2016 11:41:56,TESI_INTERFACE,09/01/2016 11:41:56,ERCOT,ONCOR,NaN,R8,NMLIGHT_EAST_NIDR_NWS_NOTOU,...,NaN,NaN,NaN,ERCOT_NM,NMLIGHT_EAST,A,NaN,NaN,N,B6S7MV9_1_FUMC UsageData.xlsx
19,"1,136,452",TESI_INTERFACE,09/02/2016 10:05:47,TESI_INTERFACE,09/02/2016 12:17:42,MISO,AMEREN,NaN,DS3,IDR,...,NaN,NaN,NaN,DS3,IDR,secondary,NaN,NaN,N,AMEREN_ALEX_new.xls
20,"1,136,453",TESI_INTERFACE,09/02/2016 10:05:47,TESI_INTERFACE,09/02/2016 12:17:42,PJM,AMEREN,NaN,DS3,IDR,...,NaN,NaN,NaN,DS3,IDR,secondary,NaN,NaN,N,AMEREN_ALEX_new.xls
21,"1,136,458",TESI_INTERFACE,09/02/2016 10:06:30,TESI_INTERFACE,06/06/2017 12:08:44,PJM,DQE,DQE,GMG-MC,GSGM,...,NaN,NaN,DQE,GMG-MC,GSGM,GSGM,NaN,NaN,N,GS_1-6BMB8Q_W.J. BEITLER CO_Proxy usage.xlsx
22,"1,136,594",TESI_INTERFACE,09/02/2016 11:33:18,TESI_INTERFACE,05/12/2017 02:47:58,PJM,DAYTON,DAYTON,757,ISS1,...,NaN,NaN,DAYTON,757,ISS1,NaN,NaN,NaN,N,SERNA_USGH_20170512_032138_R142307125_USGH_USG...
23,"1,136,595",TESI_INTERFACE,09/02/2016 11:33:18,TESI_INTERFACE,05/31/2017 11:47:56,PJM,DAYTON,DAYTON,787,IPR1,...,NaN,NaN,DAYTON,787,IPR1,NaN,NaN,NaN,N,SERNA_USGH_20170531_033404_R143365159_USGH_USG...
24,"1,138,571",TESI_INTERFACE,09/06/2016 08:41:42,TESI_INTERFACE,09/06/2016 08:41:42,ERCOT,CENTERPOINT,HOUSTON,ERCOT_BUS,BUSLOLF_HOUSTON,...,NaN,NaN,HOUSTON,ERCOT_BUS,BUSLOLF_HOUSTON,A,NaN,NaN,N,B6T2B27_1_LOAD TEMPLATE - ALL AMERCICAN EVENTS...
25,"1,138,783",TESI_INTERFACE,09/06/2016 11:08:48,TESI_INTERFACE,09/06/2016 11:08:48,NEPOOL,CLP,CONNECTICUT,NaN,NaN,...,NaN,NaN,CONNECTICUT,00,SM_GS,SECONDARY,NaN,NaN,N,B6T35Y6_1_NEW SAMARITAN GS.xlsx
26,"1,139,828",TESI_INTERFACE,09/06/2016 20:22:35,TESI_INTERFACE,06/06/2017 03:35:42,NYISO,NIMO,NaN,SC1,NaN,...,NaN,NaN,NaN,SC1,SC1_RES_STND,SECONDARY,NaN,NaN,N,SERNA_USGH_20170606_032254_R143719606_USGH_USG...
27,"1,190,147",TESI_INTERFACE,09/28/2016 08:15:13,TESI_INTERFACE,05/25/2017 14:23:33,PJM,DPLDE,DPLDE,UGSWTRHTG,DEDGS,...,NaN,NaN,DPLDE,UGSWTRHTG,DEDGS,NaN,NaN,NaN,N,SERNA_USGH_20170112_100658_R135168111_USGH_USG...
28,"1,190,148",TESI_INTERFACE,09/28/2016 08:15:13,TESI_INTERFACE,05/25/2017 14:23:33,PJM,PEPCO,PEPCO,250,RMSH,...,NaN,NaN,PEPCO,250,RMSH,NaN,NaN,NaN,N,SERNA_USGH_20170112_100658_R135168111_USGH_USG...
29,"1,190,149",TESI_INTERFACE,09/28/2016 08:15:13,TESI_INTERFACE,05/25/2017 14:23:33,PJM,PEPCO,PEPCO,250,RMNS,...,NaN,NaN,PEPCO,250,RMNS,NaN,NaN,NaN,N,SERNA_USGH_20170112_100658_R135168111_USGH_USG...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1483,"1,152,199",TESI_INTERFACE,09/09/2016 09:56:53,TESI_INTERFACE,09/09/2016 09:56:53,PJM,METED,METED,RS,MRTHT,...,NaN,NaN,METED,RS,MRTHT,SECONDARY,NaN,NaN,N,INTERNAL_REQUEST_RENEWAL_20160909_095501_1-5YA...
1484,"1,153,781",TESI_INTERFACE,09/09/2016 15:02:43,TESI_INTERFACE,09/10/2016 13:44:42,ERCOT,AEPWTU,WEST,ERCOT_BUS,NMLIGHT_WEST_NIDR_NWS_NOTOU,...,NaN,NaN,WEST,ERCOT_BUS,NMLIGHT_WEST_NIDR_NWS_NOTOU,A,NaN,NaN,N,GS_AEPWTU_10204049703156403.xls
1485,"1,153,782",TESI_INTERFACE,09/09/2016 15:02:43,TESI_INTERFACE,09/10/2016 13:44:42,ERCOT,AEPWTU,WEST,ERCOT_BUS,BUSNODEM_WEST_IDR_WS_NOTOU,...,NaN,NaN,WEST,ERCOT_BUS,BUSNODEM_WEST_IDR_WS_NOTOU,A,NaN,NaN,N,GS_AEPWTU_10204049703156403.xls
1486,"1,153,783",TESI_INTERFACE,09/09/2016 15:02:43,TESI_INTERFACE,10/03/2016 11:05:45,ERCOT,AEPWTU,WEST,ERCOT_BUS,BUSLOLF_WEST_IDR_WS_NOTOU,...,NaN,NaN,WEST,ERCOT_BUS,BUSLOLF_WEST_IDR_WS_NOTOU,A,NaN,NaN,N,GS_AEPWTU_10204049767461560.xls
1487,"1,155,776",TESI_INTERFACE,09/10/2016 13:17:42,TESI_INTERFACE,05/30/2017 14:26:58,ERCOT,CPT,HOUSTON,ERCOT_BUS,BUSIDRRQ_COAST_IDR_NWS_NOTOU,...,NaN,NaN,HOUSTON,ERCOT_BUS,BUSIDRRQ_COAST_IDR_NWS_NOTOU,D,NaN,NaN,N,GS_AEPCPL_10032789416428620.xls
1488,"1,155,823",TESI_INTERFACE,09/10/2016 13:44:42,TESI_INTERFACE,09/10/2016 13:44:42,ERCOT,AEPWTU,WEST,ERCOT_BUS,BUSIDRRQ_WEST_IDR_NWS_NOTOU,...,NaN,NaN,WEST,ERCOT_BUS,BUSIDRRQ_WEST_IDR_NWS_NOTOU,A,NaN,NaN,N,GS_AEPWTU_10204049703156403.xls
1489,"1,155,824",TESI_INTERFACE,09/10/2016 13:44:42,TESI_INTERFACE,09/10/2016 13:44:42,ERCOT,AEPWTU,WEST,ERCOT_BUS,BUSIDRRQ_WEST_IDR_WS_NOTOU,...,NaN,NaN,WEST,ERCOT_BUS,BUSIDRRQ_WEST_IDR_WS_NOTOU,A,NaN,NaN,N,GS_AEPWTU_10204049703156403.xls
1490,"1,158,081",TESI_INTERFACE,09/13/2016 08:14:05,TESI_INTERFACE,03/08/2017 15:17:11,NEPOOL,NHECO,NEWHAMPSHIRE,PX,NaN,...,NaN,NaN,NEWHAMPSHIRE,PX,NaN,NaN,NaN,NaN,N,SERNA_USGH_20170308_160123_R138389537_USGH_USG...
1491,"1,158,082",TESI_INTERFACE,09/13/2016 08:14:05,TESI_INTERFACE,09/13/2016 08:14:05,NEPOOL,NHECO,NEWHAMPSHIRE,LT13X,NaN,...,NaN,NaN,NEWHAMPSHIRE,LT13X,NaN,NaN,NaN,NaN,N,SERNA_USGH_20160913_090242_R128228042_USGH_USG...
1492,"1,158,086",TESI_INTERFACE,09/13/2016 08:14:35,TESI_INTERFACE,02/15/2017 09:58:25,PJM,AECO,AECO,AGSSECONDH,NJAAS,...,NaN,NaN,AECO,AGSSECONDH,NJAAS,SECONDARY,NaN,NaN,N,SERNA_USGH_20170215_095028_R137119843_USGH_USG...
1493,"1,158,109",TESI_INTERFACE,09/13/2016 08:20:43,TESI_INTERFACE,09/13/2016 12:32:43,MISO,AMERENCILCO,NaN,DS2,DS2LL-,...,NaN,NaN,NaN,DS2,DS2LL-,SECONDARY,NaN,NaN,N,GENSCA_1-6SEQ6X_5.xls
1494,"1,161,753",TESI_INTERFACE,09/14/2016 07:43:44,TESI_INTERFACE,05/25/2017 14:23:33,PJM,AECO,AECO,MGSSECOND,NJAAS,...,NaN,NaN,AECO,MGSSECOND,NJAAS,NaN,NaN,NaN,N,SERNA_USGH_20170112_100658_R135168111_USGH_USG...
1495,"1,161,754",TESI_INTERFACE,09/14/2016 07:43:44,TESI_INTERFACE,04/23/2017 10:22:34,PJM,DPL,DPL,USGSCONOWINGO,MDDGS,...,NaN,NaN,DPL,USGSCONOWINGO,MDDGS,NaN,NaN,NaN,N,SERNA_USGH_20170422_130556_R141074708_USGH_USG...
1496,"1,161,808",TESI_INTERFACE,09/14/2016 09:41:44,TESI_INTERFACE,11/11/2016 13:23:44,MISO,AMERENCIPS,NaN,DS3,IDR,...,NaN,NaN,NaN,DS3,IDR,SECONDARY,NaN,NaN,N,GENSCALAR_3756000013_22800883.xls
1497,"1,170,670",TESI_INTERFACE,09/18/2016 17:43:49,TESI_INTERFACE,04/18/2017 07:10:28,PJM,ATSIOE,FEOHIOOE,OE-ESIPCF,SL,...,NaN,NaN,FEOHIOOE,OE-ESIPCF,SL,NaN,NaN,NaN,N,SERNA_USGH_20170418_074827_R140753186_USGH_USG...
1498,"1,170,671",TESI_INTERFACE,09/18/2016 17:43:49,TESI_INTERFACE,01/12/2017 21:30:40,PJM,ATSITE,FEOHIOTE,TE-GPD,CG,...,NaN,NaN,FEOHIOTE,TE-GPD,CG,NaN,NaN,NaN,N,SERNA_USGH_20170112_103233_R135169335_USGH.TXT
1499,"1,170,672",TESI_INTERFACE,09/18/2016 17:43:49,TESI_INTERFACE,04/18/2017 08:16:58,PJM,ATSIOE,FEOHIOOE,OE-GSF,SL,...,NaN,NaN,FEOHIOOE,OE-GSF,SL,NaN,NaN,NaN,N,SERNA_USGH_20170418_074310_R140752986_USGH_USG...
1500,"1,170,742",TESI_INTERFACE,09/18/2016 17:45:14,TESI_INTERFACE,02/22/2017 06:47:49,PJM,ATSIOE,FEOHIOOE,OE-GSD,SL,...,NaN,NaN,FEOHIOOE,OE-GSD,SL,NaN,NaN,NaN,N,SERNA_USGH_20170222_072101_R137484147_USGH_USG...
1501,"1,170,789",TESI_INTERFACE,09/18/2016 17:58:41,TESI_INTERFACE,02/16/2017 06:33:45,PJM,METED,METED,ME-TPD,TPC,...,NaN,NaN,METED,ME-TPD,TPC,NaN,NaN,NaN,N,SERNA_USGH_20170216_071316_R137184149_USGH_USG...
1502,"1,170,790",TESI_INTERFACE,09/18/2016 17:58:41,TESI_INTERFACE,03/05/2017 17:06:55,PJM,METED,METED,ME-POLD,OLM,...,NaN,NaN,METED,ME-POLD,OLM,NaN,NaN,NaN,N,SERNA_USGH_20170305_172733_R138166250_USGH_USG...
1503,"1,170,801",TESI_INTERFACE,09/18/2016 17:59:11,TESI_INTERFACE,02/22/2017 07:00:34,PJM,ATSIPP,PENNPOWER,PP-GMD,RG,...,NaN,NaN,PENNPOWER,PP-GMD,RG,NaN,NaN,NaN,N,SERNA_USGH_20170222_072732_R137484712_USGH_USG...
1504,"1,427,795",TESI_INTERFACE,01/17/2017 07:06:44,TESI_INTERFACE,01/17/2017 07:06:44,PJM,METED,METED,ME-GSLF,GSTI,...,NaN,NaN,METED,ME-GSLF,GSTI,NaN,NaN,NaN,N,SERNA_USGH_20170117_073524_R135378343_USGH_USG...
1505,"1,150,926",TESI_INTERFACE,09/08/2016 18:35:38,TESI_INTERFACE,09/08/2016 18:35:38,PJM,BGE,NaN,RL,44,...,NaN,NaN,BGE,RL,44,NaN,NaN,NaN,N,SCA_BGE_3_E6TS3D7_1_20160908_192559_09_08_2016...
1506,"1,155,143",TESI_INTERFACE,09/09/2016 22:30:40,TESI_INTERFACE,01/31/2017 14:46:15,PJM,RECO,RECO,Y6D,NaN,...,NaN,NaN,RECO,NaN,NaN,NaN,NaN,NaN,N,SERNA_USGH_20170111_230504_R135140098_USGH_USG...
1507,"1,227,874",TESI_INTERFACE,10/19/2016 06:59:16,TESI_INTERFACE,02/10/2017 14:49:14,PJM,ATSIOE,FEOHIOOE,OE-GSF,RS,...,NaN,NaN,FEOHIOOE,OE-GSF,RS,NaN,NaN,NaN,N,SERNA_USGH_20170210_152602_R136885389_USGH_USG...
1508,"1,239,222",TESI_INTERFACE,10/26/2016 18:26:48,TESI_INTERFACE,10/27/2016 10:02:45,PJM,DAYTON,DAYTON,727,SS01,...,NaN,NaN,DAYTON,727,SS01,SECONDARY,NaN,NaN,N,B7BUWAY_1_GS_ 20161026_POH.xlsx
1509,"1,239,236",TESI_INTERFACE,10/26/2016 19:05:47,TESI_INTERFACE,10/26/2016 19:05:47,PJM,DAYTON,DAYTON,727,SS02,...,NaN,NaN,DAYTON,727,SS02,SECONDARY,NaN,NaN,N,B7BUWAY_1_GS_ 20161026_POH.xlsx
1510,"1,788,049",TESI_INTERFACE,01/10/2019 10:49:52,TESI_INTERFACE,01/23/2019 14:47:47,PJM,AEPCS,AEPCS,830,CCOHNONA,...,NaN,NaN,AEPCS,830,CCOHNONA,SECONDARY,NaN,NaN,N,GS_AEP_IRISPROFILE_2019.xls
1511,"1,788,050",TESI_INTERFACE,01/10/2019 10:49:52,TESI_INTERFACE,01/10/2019 10:49:52,PJM,AEPOP,AEPOP,830,CCOHNONA,...,NaN,NaN,AEPOP,830,CCOHNONA,SECONDARY,NaN,NaN,N,GSOutput1547138535936.xls
1512,"1,148,751",TESI_INTERFACE,09/08/2016 02:43:58,TESI_INTERFACE,05/18/2017 02:44:37,PJM,DAYTON,DAYTON,787,IPR2,...,NaN,NaN,DAYTON,787,IPR2,NaN,NaN,NaN,N,SERNA_USGH_20170518_032504_R142654998_USGH_USG...

In [156]:
alps.shape

(1513, 21)

# Compare ALPS vs INTDB

    group data by (market, disco)

In [157]:
intdb['GROUP'] = list(zip(intdb['MARKET'], intdb['DISCO_CODE']))

c:\users\wb5888\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [158]:
alps['GROUP'] = list(zip(alps['MARKET_CODE'], alps['DISCO_CODE']))

In [159]:
intdb['GROUP'].head()

0    (ERCOT, CPT)
1    (ERCOT, CPT)
2    (ERCOT, CPT)
3    (ERCOT, CPT)
4    (ERCOT, CPT)
Name: GROUP, dtype: object

In [242]:
common = pd.merge(intdb, alps['GROUP'], how = 'inner', on = 'GROUP')
common.drop_duplicates(keep = 'first',inplace = True)
common.reset_index(drop = True, inplace = True)

In [243]:
common

,SOURCEID,MARKET,DISCO_CODE,LOAD_PROFILE,RATE_CLASS,ESG_SOURCEID,PROFILE_CLASS,METER_TYPE,LOSS_CODE,LOSS_DESCRIPTION,STATE,RES_FLAG,SEQ_ID,DEFAULT_FLAG,GROUP
0,10001,ERCOT,CPT,None,990,10001,None,IDR,D,SECONDARY,TX,0.0,1,N,"(ERCOT, CPT)"
1,10002,ERCOT,CPT,None,991,10002,None,IDR,D,SECONDARY,TX,0.0,2,N,"(ERCOT, CPT)"
2,10003,ERCOT,CPT,None,992,10003,None,IDR,E,PRIMARY,TX,0.0,3,N,"(ERCOT, CPT)"
3,10004,ERCOT,CPT,None,993,10004,None,IDR,T,TRANSMISSION,TX,0.0,4,N,"(ERCOT, CPT)"
4,10005,ERCOT,CPT,None,994,10005,None,IDR,D,SECONDARY,TX,0.0,5,Y,"(ERCOT, CPT)"
5,10006,ERCOT,CPT,None,995,10006,None,IDR,D,SECONDARY,TX,0.0,6,Y,"(ERCOT, CPT)"
6,10007,ERCOT,CPT,None,996,10007,None,IDR,E,PRIMARY,TX,0.0,7,Y,"(ERCOT, CPT)"
7,10008,ERCOT,CPT,None,997,10008,None,IDR,T,TRANSMISSION,TX,0.0,8,Y,"(ERCOT, CPT)"
8,10009,ERCOT,CPT,None,970,10009,None,IDR,D,SECONDARY,TX,0.0,9,N,"(ERCOT, CPT)"
9,10010,ERCOT,CPT,None,971,10010,None,IDR,D,SECONDARY,TX,0.0,10,N,"(ERCOT, CPT)"
10,10011,ERCOT,CPT,None,972,10011,None,IDR,E,PRIMARY,TX,0.0,11,Y,"(ERCOT, CPT)"
11,10062,ERCOT,CPT,None,350,10062,None,SCALAR,D,SECONDARY,TX,0.0,62,Y,"(ERCOT, CPT)"
12,10063,ERCOT,CPT,None,351,10063,None,SCALAR,D,SECONDARY,TX,0.0,63,Y,"(ERCOT, CPT)"
13,10064,ERCOT,CPT,None,352,10064,None,SCALAR,D,SECONDARY,TX,0.0,64,Y,"(ERCOT, CPT)"
14,10065,ERCOT,CPT,None,353,10065,None,SCALAR,D,SECONDARY,TX,0.0,65,Y,"(ERCOT, CPT)"
15,10066,ERCOT,CPT,None,348,10066,None,SCALAR,D,SECONDARY,TX,0.0,66,Y,"(ERCOT, CPT)"
16,10067,ERCOT,CPT,None,349,10067,None,SCALAR,D,SECONDARY,TX,0.0,67,Y,"(ERCOT, CPT)"
17,10068,ERCOT,CPT,None,360,10068,None,SCALAR,D,SECONDARY,TX,0.0,68,Y,"(ERCOT, CPT)"
18,10069,ERCOT,CPT,None,370,10069,None,SCALAR,D,SECONDARY,TX,0.0,69,Y,"(ERCOT, CPT)"
19,10070,ERCOT,CPT,None,371,10070,None,SCALAR,D,SECONDARY,TX,0.0,70,Y,"(ERCOT, CPT)"
20,10071,ERCOT,CPT,None,372,10071,None,SCALAR,D,SECONDARY,TX,0.0,71,Y,"(ERCOT, CPT)"
21,10072,ERCOT,CPT,None,380,10072,None,SCALAR,D,SECONDARY,TX,0.0,72,Y,"(ERCOT, CPT)"
22,10073,ERCOT,CPT,None,381,10073,None,SCALAR,D,SECONDARY,TX,0.0,73,Y,"(ERCOT, CPT)"
23,10074,ERCOT,CPT,None,361,10074,None,SCALAR,D,SECONDARY,TX,0.0,74,Y,"(ERCOT, CPT)"
24,10075,ERCOT,CPT,None,362,10075,None,SCALAR,D,SECONDARY,TX,0.0,75,Y,"(ERCOT, CPT)"
25,10076,ERCOT,CPT,None,382,10076,None,SCALAR,D,SECONDARY,TX,0.0,76,Y,"(ERCOT, CPT)"
26,10077,ERCOT,CPT,None,363,10077,None,SCALAR,D,SECONDARY,TX,0.0,77,Y,"(ERCOT, CPT)"
27,10078,ERCOT,CPT,None,373,10078,None,SCALAR,D,SECONDARY,TX,0.0,78,Y,"(ERCOT, CPT)"
28,10079,ERCOT,CPT,None,383,10079,None,SCALAR,D,SECONDARY,TX,0.0,79,Y,"(ERCOT, CPT)"
29,10080,ERCOT,CPT,None,390,10080,None,SCALAR,E,PRIMARY,TX,0.0,80,Y,"(ERCOT, CPT)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7445,53183,ERCOT,SHU,None,6111319,53183,None,SCALAR,A,SECONDARY,TX,0.0,8233,Y,"(ERCOT, SHU)"
7446,53184,ERCOT,SHU,None,61113197,53184,None,IDR,A,SECONDARY,TX,0.0,8234,Y,"(ERCOT, SHU)"
7447,53185,ERCOT,SHU,None,611132,53185,None,SCALAR,A,SECONDARY,TX,0.0,8235,Y,"(ERCOT, SHU)"
7448,53186,ERCOT,SHU,None,6111327,53186,None,IDR,A,SECONDARY,TX,0.0,8236,Y,"(ERCOT, SHU)"
7449,53187,ERCOT,SHU,None,6111329,53187,None,SCALAR,A,SECONDARY,TX,0.0,8237,Y,"(ERCOT, SHU)"
7450,53188,ERCOT,SHU,None,61113297,53188,None,IDR,A,SECONDARY,TX,0.0,8238,Y,"(ERCOT, SHU)"
7451,53189,ERCOT,SHU,None,611137,53189,None,IDR,A,SECONDARY,TX,0.0,8239,Y,"(ERCOT, SHU)"
7452,53190,ERCOT,SHU,None,611139,53190,None,SCALAR,A,SECONDARY,TX,0.0,8240,Y,"(ERCOT, SHU)"
7453,53191,ERCOT,SHU,None,6111397,53191,None,IDR,A,SECONDARY,TX,0.0,8241,Y,"(ERCOT, SHU)"
7454,53192,ERCOT,SHU,None,61114,53192,None,SCALAR,B,PRIMARY,TX,0.0,8242,Y,"(ERCOT, SHU)"
7455,53193,ERCOT,SHU,None,611142,53193,None,SCALAR,B,PRIMARY,TX,0.0,8243,Y,"(ERCOT, SHU)"
7456,53194,ERCOT,SHU,None,6111427,53194,None,IDR,B,PRIMARY,TX,0.0,8244,Y,"(ERCOT, SHU)"
7457,53195,ERCOT,SHU,None,611147,53195,None,IDR,B,PRIMARY,TX,0.0,8245,Y,"(ERCOT, SHU)"
7458,53196,ERCOT,SHU,None,611149,53196,None,SCALAR,B,PRIMARY,TX,0.0,8246,Y,"(ERCOT, SHU)"
7459,53197,ERCOT,SHU,None,6111497,53197,None,IDR,B,PRIMARY,TX,0.0,8247,Y,"(ERCOT, SHU)"
7460,53198,ERCOT,SHU,None,61115,53198,None,SCALAR,T,TRANSMISSION,TX,0.0,8248,Y,"(ERCOT, SHU)"
7461,53199,ERCOT,SHU,None,61116,53199,None,SCALAR,A,SECONDARY,TX,0.0,8249,Y,"(ERCOT, SHU)"
7462,53265,ERCOT,SHU,None,PN61112.1,53265,None,SCALAR,A,SECONDARY,TX,0.0,8315,Y,"(ERCOT, SHU)"
7463,53266,ERCOT,SHU,None,PN61113,53266,None,SCALAR,A,SECONDARY,TX,0.0,8316,Y,"(ERCOT, SHU)"
7464,53267,ERCOT,SHU,None,PN61113.1,53267,None,SCALAR,A,SECONDARY,TX,0.0,8317,Y,"(ERCOT, SHU)"
7465,53268,ERCOT,SHU,None,PN61114,53268,None,SCALAR,B,PRIMARY,TX,0.0,8318,Y,"(ERCOT, SHU)"
7466,53200,ERCOT,SHMC,None,022,53200,None,SCALAR,A,SECONDARY,TX,100.0,8250,Y,"(ERCOT, SHMC)"
7467,53201,ERCOT,SHMC,None,021,53201,None,SCALAR,A,SECONDARY,TX,100.0,8251,Y,"(ERCOT, SHMC)"
7468,53202,ERCOT,SHMC,None,023,53202,None,SCALAR,A,SECONDARY,TX,0.0,8252,Y,"(ERCOT, SHMC)"
7469,53203,ERCOT,SHMC,None,024,53203,None,IDR,A,SECONDARY,TX,0.0,8253,Y,"(ERCOT, SHMC)"
7470,53204,ERCOT,SHMC,None,025,53204,None,SCALAR,A,SECONDARY,TX,0.0,8254,Y,"(ERCOT, SHMC)"
7471,53205,ERCOT,SHMC,None,026,53205,None,SCALAR,A,SECONDARY,TX,0.0,8255,Y,"(ERCOT, SHMC)"
7472,53206,ERCOT,SHMC,None,027,53206,None,SCALAR,A,SECONDARY,TX,0.0,8256,Y,"(ERCOT, SHMC)"
7473,53207,ERCOT,SHMC,None,028,53207,None,SCALAR,A,SECONDARY,TX,0.0,8257,Y,"(ERCOT, SHMC)"
7474,53208,ERCOT,SHMC,None,032,53208,None,SCALAR,A,SECONDARY,TX,0.0,8258,Y,"(ERCOT, SHMC)"